<section class="registration">
    <div class="container">

        <div class="mx-auto" style="max-width: 600px">
            <form [formGroup]="registrationForm" novalidate>
                <div class="row">
                    <div class="col-12">
                        <!-- <div class="reg-sub-hd">Registration</div> -->
                    </div>
                    <div class=" col-lg-6 col-12">
                        <div class="form-group">
                            <label>Request Type
                                <span class="required-sign">*</span>
                            </label>
                            <div>
                                <select class="form-control" formControlName="type" (change)="requestTypeChaned()" [ngClass]="{'error-border': isFormSubmitted && registrationForm.controls.type.errors}">
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="{{item.id}}" *ngFor="let item of requestTypeList">{{item.title}}</option>
                                </select>
                                <div *ngIf="isFormSubmitted && registrationForm.controls.type.errors" class="error-wrappers">
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.type.errors.required">Required Field
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Requestor's Email Address
                                <span class="required-sign">*</span>
                            </label>
                            <div>
                                <input type="text" formControlName="email" [ngClass]="{'error-border': isFormSubmitted && registrationForm.controls.email.errors }"
                                    class="form-control" placeholder="Enter email address" maxlength="50">
                                <div *ngIf="isFormSubmitted && registrationForm.controls.email.errors" class="error-wrappers">
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.email.errors.required">Required field
                                    </span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.email.errors.pattern">Invalid email id
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-12">
                        <div class="form-group">
                            <label>Username
                                <span class="required-sign">*</span>
                            </label>
                            <div>
                                <input type="text" formControlName="username" [ngClass]="{'error-border':(isFormSubmitted && registrationForm.controls.username?.errors) || (selectedRequestType['validateUsername']==NEW_REQUEST && !isUniqueUsername) || (selectedRequestType['validateUsername']==EXISTING_REQUEST && usernameNotFound) }"
                                    class="form-control" (focusout)="validateUsername()" placeholder="Enter username" maxlength="50">
                                <div *ngIf="(isFormSubmitted && registrationForm.controls.username?.errors)  || (selectedRequestType['validateUsername'] == NEW_REQUEST && !isUniqueUsername) || (selectedRequestType['validateUsername'] == EXISTING_REQUEST && usernameNotFound)"
                                    class="error-wrappers">
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.username?.errors?.required">Required field
                                    </span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.username?.errors?.minlength">Minimum length is 5 characters</span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.username?.errors?.maxlength">Maximum length is 50 characters</span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.username?.errors?.pattern">Only alphanumeric characters allowed</span>
                                    <span class="error" *ngIf="selectedRequestType['validateUsername']==NEW_REQUEST && !isUniqueUsername">Username not available</span>
                                    <span class="error" *ngIf="selectedRequestType['validateUsername']==EXISTING_REQUEST && usernameNotFound">Username not found</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-12">
                        <div class="form-group">
                            <!-- <label>User Form <span class="required-sign">*</span> &nbsp; <span style="font-size: 10px">(File format:
                Only PDF allowed of max 5 MB)</span></label> -->
                            <label>Upload User Form
                                <!-- <span class="required-sign">*</span>
                <span style="font-size: 10px">(File format: Only PDF allowed of max 5 MB)</span> -->
                            </label>
                            <div>
                                <input type="file" formControlName="formPath" #uploadPDF id="upload-pdf" (change)="uploadFile($event)" accept="application/pdf"
                                    [ngClass]="{'error-border': isFormSubmitted && registrationForm.controls.formPath.errors }"
                                />
                                <div *ngIf="isFormSubmitted && registrationForm.controls.formPath.errors" class="error-wrappers">
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.formPath.errors.required">Required field (Only PDF allowed of max 5 MB)</span>
                                </div>
                                <div *ngIf="isExceeded" class="error-wrappers">
                                    <span class="error">No PDF file accepted more than 5MB</span>
                                </div>
                                <div class="error-wrappers mb-3">
                                    <span>
                                        <small class="upload-caption">*Only PDF allowed of max 5 MB</small>
                                    </span>
                                </div>
                                <!-- <small class="upload-caption">*Only PDF allowed of max 5 MB
                </small> -->
                            </div>

                        </div>
                    </div>

                    <!-- <div class="col-lg-12 col-md-12">
            <div class="form-group">
              <label>Mobile Number</label>
              <div>
                <input type="text" formControlName="mobileNumber" [ngClass]="{'error-border': isFormSubmitted && registrationForm.controls.mobileNumber.errors }"
                  class="form-control" placeholder="Enter mobile number" maxlength="10">
                <div *ngIf="isFormSubmitted && registrationForm.controls.mobileNumber.errors" class="error-wrappers">
                  <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.mobileNumber.errors.required">Required
                    field</span>
                  <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.mobileNumber.errors.minlength">Minimum
                    length is 10 characters</span>
                  <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.mobileNumber.errors.maxlength">Maximum
                    length is 10 characters</span>
                  <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.mobileNumber.errors.pattern">Only
                    numbers allowed</span>
                </div>
              </div>
            </div>
          </div> -->
                    <div class=" col-lg-12 col-12">
                        <div class="form-group">
                            <label>Comments
                                <span class="required-sign">*</span>
                            </label>
                            <div>
                                <textarea rows="3" formControlName="comments" [ngClass]="{'error-border': isFormSubmitted && registrationForm.controls.comments.errors }"
                                    class="form-control" placeholder="Comments" maxlength="200"></textarea>
                                <div *ngIf="isFormSubmitted && registrationForm.controls.comments.errors" class="error-wrappers">
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.comments.errors.required">Required Field
                                    </span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.comments.errors.minlength">Minimum length is 5 characters</span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.comments.errors.maxlength">Maximum length is 200 characters</span>
                                    <span class="error" *ngIf="isFormSubmitted && registrationForm.controls.comments.errors.pattern">Invalid comments
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-12 d-flex align-items-center justify-content-between mt-3">
                        <button class="btn btn-blue-light bt-fix" [disabled]="registrationSubmited" (click)="submitRegistration()">
                            Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>