<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="sub-title">Search Criteria</div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MSDIN</label>
                        <div>
                            <input type="text" class="form-control" placeholder="MSDIN" formControlName="msdin">
                            <div *ngIf="reportingForm.controls.msdin.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="startDate">
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="endDate">
                            <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="reportingForm.reset(); initializeForm()">Reset</button> -->
            <!-- <button class="btn btn-red-light bt-fix  mb-2" [disabled]="reportList.length == 0">Export excel</button> -->
            <div class="dropdown">
                <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="reportList.length == 0">Export As
                        <!--  -->
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>              
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th (click)="channelSorted = !channelSorted; sortTable('channel', channelSorted)" class="sort-th">Channel
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="campaignIDSorted = !campaignIDSorted; sortTable('campaignId', campaignIDSorted)" class="sort-th">Campaign ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="campaignNameSorted = !campaignNameSorted; sortTable('campaignName', campaignNameSorted)" class="sort-th">Campaign Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="departmentNameSorted = !departmentNameSorted; sortTable('departmentName', departmentNameSorted)" class="sort-th">Department Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="departmentUserSorted = !departmentUserSorted; sortTable('username', departmentUserSorted)" class="sort-th">Department User
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="smsTypeSorted = !smsTypeSorted; sortTable('smsType', smsTypeSorted)" class="sort-th">SMS Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="smsContentSorted = !smsContentSorted; sortTable('messageText', smsContentSorted)" class="sort-th">SMS Content
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="senderIdSorted = !senderIdSorted; sortTable('senderId', senderIdSorted)" class="sort-th">Sender CLI
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="prioritySorted = !prioritySorted; sortTable('category', prioritySorted)" class="sort-th">Priority
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="internationalSorted = !internationalSorted; sortTable('intFlag', internationalSorted)" class="sort-th">International
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="scheduledOnSorted = !scheduledOnSorted; sortTable('submitTimestamp', scheduledOnSorted)" class="sort-th">Scheduled On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="submittedOnSorted = !submittedOnSorted; sortTable('submitTimestamp', submittedOnSorted)" class="sort-th">Submitted On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="deliveredOnSorted = !deliveredOnSorted; sortTable('deliverTimestamp', deliveredOnSorted)" class="sort-th">Delivered On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="deliveryStatusSorted = !deliveryStatusSorted; sortTable('state', deliveryStatusSorted)" class="sort-th">Delivery Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportList | searchFilter: {channel: searchText, campaignName: searchText,
                                campaignId: searchText, departmentName: searchText, username: searchText,
                                senderId: searchText} | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{channel}}</td>
                                <td>{{campaignId}}</td>
                                <td>{{campaignName}}</td>
                                <td>{{departmentName}}</td>
                                <td>{{username}}</td>
                                <td>{{smsType}}</td>
                                <td>{{messageText}}</td>
                                <td>{{senderId}}</td>
                                <td>{{category}}</td>
                                <td>{{intFlag}}</td>
                                <td>{{submitTimestamp}}</td>
                                <td>{{submitTimestamp}}</td>
                                <td>{{deliverTimestamp}}</td>
                                <td>{{state}}</td>
                                <td>{{deliverErrorDesc}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="reportList.length==0 " class="no-data ">No Records Found</div>
                    <pagination-controls *ngIf="reportList.length>0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>