<section>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-12">
        <!-- <div class="reg-sub-hd">Download Form</div> -->
      </div>
      <div class="col-12 ">
        <div class="mt-3 d-flex justify-content-around flex-row">
          <button *ngFor="let formInfo of formsList" class="btn btn-download" (click)="downloadForm(formInfo.type,formInfo.title)">
            <span>{{formInfo.title}}</span>
            <i class="fa fa-download"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
