

.btn-download{
  width:200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00B5EF;
  padding: 0px;
  border-bottom-right-radius: 22px;
  padding-left: 5px;
  margin-bottom: 20px;

  i{
    background:  #00B5EF;
    padding: 10px;
    color: #ffffff;
    border-radius: 50%;

  }
  span{
    color: #292075;
    font-weight: bolder;

  }
}
