<section class="registration">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <!-- <div class="reg-sub-hd">Check registration request status</div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="mx-auto search-box">
                    <input class="form-control" type="text" [(ngModel)]="searchValue" placeholder="Enter email id or reference id">
                    <button class="btn btn-blue-light bt-fix ml-3" (click)="getRequestsList()">Search</button>
                </div>
            </div>
        </div>
        <div class="row mt-4" *ngIf="requestList.length>0">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped base-table-style">
                        <tr>
                            <th>Sr No</th>
                            <th>Reference Id</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Approval Status</th>
                            <th>Uploaded Doc</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let item of requestList; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.txnId}}</td>
                                <td>{{item.type.title}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.overallStatus}}</td>
                                <td>
                                    <a class="download-link" (click)="downloadFile(item.txnId)">
                                        <i class="fa fa-download" aria-hidden="true"></i> Download Form</a>
                                </td>
                            </tr>
                            <!-- <tr *ngIf="requestList.length==0">
                <td colspan="7" style="text-align:center">No Record Found</td>
              </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>