<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <div class="sub-title">Upload Bulk Sender-ID</div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Sender CLIs</label>
                    <div>
                        <input type="file" class="form-control" placeholder="">
                        <div class="error-wrappers">
                            <span class="upload-caption">*Multiple CLIs line separated in a .txt file</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Select User</label>
                    <div>
                        <select class="form-control">
                <option value="" disabled selected hidden>Select</option>
                <option value= 1>abc</option>
                <option value= 2>xyz</option>
              </select>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="form-group">
                    <label>Select Approver</label>
                    <div>
                        <select class="form-control">
                <option value="" disabled selected hidden>Select</option>
                <option value= 1>abc</option>
                <option value= 2>xyz</option>
              </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">

            <button class="btn btn-blue-light bt-fix mr-3 mb-2">Submit</button>
            <button class="btn btn-blue-light bt-fix mr-3 mb-2">Reset</button>
            <!-- <button class="btn btn-red-light bt-fix  mb-2">Cancel</button> -->
        </div>
    </div>
</div>