<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-15">
            <!-- <div class="col-12">
                <div class="sub-title">View Users Requests</div>
            </div> -->
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-2">
                <!-- <button class="btn btn-outline-info rounded form-group" (click)="exportAsXLSX()" [disabled]="senderIdList.length ==0">Export to Excel</button> -->
                <!-- <div class="dropdown">
                    <button class="btn btn-red-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="senderIdList.length == 0">Export As
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                        <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                    </ul>
                </div> -->
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.SENDERID)">Actions</th>
                                <th (click)="cliSorted = !cliSorted; sortTable('senderid', cliSorted)" class="sort-th">CLI <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="departmentUserSorted = !departmentUserSorted; sortTable('username', departmentUserSorted)" class="sort-th">Department User <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="statusSorted = !statusSorted; sortTable('status', statusSorted, true)" class="sort-th">Status <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of senderIdList | 
                            searchFilter: {senderid: searchText, approvedBy:searchText,  user: searchText} | 
                            paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center " *ngIf="commonService.hasWriteAccess(MODULES.SENDERID)">
                                    <div class="btn-group btn-group-sm ">
                                        <i class="fa fa-trash action-item " title="Delete " (click)="confirmDeleteRecord(item) "></i>
                                        <label class="switch ">
                                            <input type="checkbox " [checked]="item[ 'status']==1 "
                                                (change)="changeStatus($event.target.checked, item, i) " >
                                            <span class="slider round "></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{item['senderid']}}</td>
                                <td>{{item['username']}}</td>
                                <td>{{item['status'] == 1 ? 'Enabled' : 'Disabled'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="senderIdList.length==0 " class="no-data ">No Records Found!</div>
                    <pagination-controls class="my-pagination" *ngIf="senderIdList.length!=0 " (pageChange)="p=$event "></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3) " size="medium " color="#fff " type="ball-scale-multiple ">
</ngx-spinner>