<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-8 responsive-login-bg  ">
                <div class="img-div">
                    <img src="assets/images/left_img.png" alt="">
                </div>
                <div class="img-text">Appliance Based SMS Solution</div>
            </div>
            <div class="col d-flex right-wrapper">
                <div class="w-100">
                    <div class="logo-login">
                        <img class="img-fluid" src="assets/images/logo_sbi.png" alt="">
                    </div>
                    <div class="login-box">
                        <div class="login-form mx-auto">
                            <div class="login-text">Sign in to access your SMS Solution</div>
                            <form class=" mt-2 p-0" [formGroup]="loginForm" novalidate>
                                <div class="l-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control cus-form-control" placeholder="User ID" formControlName="userName">
                                        <div *ngIf="loginForm.controls.userName.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="loginForm.controls.userName.errors.required">*User id is required</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control cus-form-control" placeholder="Password" formControlName="password">
                                        <div *ngIf="loginForm.controls.password.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="loginForm.controls.password.errors.required">*Password id is required</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-sign-in" type="submit" (click)="login()">Sign In</button>
                            </form>
                            <a class="btn btn-sign-in" [routerLink]="['/auth/forgot-password']">
                Forgot Password
              </a>
                            <hr/>
                            <a class="btn btn-sign-in" [routerLink]="['/registration/reg-home']">
                Registration Request
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftr">
    &copy;2019.All Rights Reserved SBI
</footer>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>