<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Reporting</span>
            </nav>
        </div>
    </div>
</div>

<section class="right-panel-wrapper">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SUMMARY_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/summary-report" routerLinkActive="active">Summary Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.DETAILED_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/detailed-report" routerLinkActive="active">Detailed Report</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.MO_SUMMARY_REPORT)">
            <a class="nav-link" routerLink="/main/reporting/archived-report" routerLinkActive="active">MO Report</a>
        </li>
    </ul>
    <router-outlet></router-outlet>

</section>