<section class="rg-flow">
    <header id="header" class="header">
        <div class="p-0 d-flex flex-row">
            <div class="logo-container mx-auto mt-3 my-2">
                <a href="javascript:void(0)"><img src="assets/images/logo_sbi.png" alt="Logo"></a>
            </div>
            <div class="d-flex flex-row-reverse mt-3 pr-3">
                <a [routerLink]="['/auth/login']">Back to login</a>
            </div>
        </div>
    </header>
    <div class="container">
        <!-- <div class="col-12">
      <span class="rg-hd ">Requests</span>
    </div> -->
        <div class="tab-wrapper mt-5">
            <ul class="nav nav-tabs reg-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registration/reg-home" routerLinkActive="active">Download Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registration/register" routerLinkActive="active">New Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registration/status" routerLinkActive="active">Check Status</a>
                </li>
            </ul>
            <div class="reg-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <!--<footer class="ftr">-->
    <!--&copy;2019.All Rights Reserved SBI-->
    <!--</footer>-->
    <ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
    </ngx-spinner>
</section>