.rg-flow{
  max-height: 100%;
  overflow-y: auto;
}
.rg-hd{
  margin: 20px auto;
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #888888;
}
.tab-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;

  .reg-content{

    border:1px solid #cccccc;
    border-radius: 15px;
    padding: 25px 20px;
    padding-top: 50px;
    margin-top: -45px;
    z-index: 1;


  }
}
.reg-tabs{
flex-direction: row;
  justify-content: space-around;
  border-bottom: none;

  .nav-item{
width: 160px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    z-index: 9;
    .nav-link{
      border-radius: 30px;
      background: #0C376A;

      border: 0px;
      color: #ffffff;
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-link.active{
      background: #00B5EF;
      color: #ffffff;
    }
  }
}


