<div class="content-wrapper">
    <form class="form-t1" [formGroup]="senderIdForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-12">
                    <div class="sub-title">Create New CLI</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Sender CLIs</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Sender CLI" formControlName="senderId">
                        </div>
                        <div class="error-wrappers">
                            <span class="upload-caption">*Multiple CLIs are allowed separated by comma (,)</span>
                        </div>
                        <div *ngIf="senderIdForm.controls.senderId.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="senderIdForm.controls.senderId.errors.required">*Field is required</span>
                            <span class="error" *ngIf="senderIdForm.controls.senderId.errors.pattern">*Maximum 10 comma separated cli upto 6 characters are allowed</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Select User</label>
                        <div>
                            <select class="form-control" formControlName="user">
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="user.userId" *ngFor="let user of users">{{user.username}}</option>
                            </select>
                            <div *ngIf="senderIdForm.controls.user.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="senderIdForm.controls.user.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Reference ID</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Reference ID" formControlName="transactionId" maxlength="6">
                            <div *ngIf="senderIdForm.controls.transactionId.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="senderIdForm.controls.transactionId.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="senderIdForm.reset()">Reset</button>
                <!-- <button class="btn btn-red-light bt-fix  mb-2">Cancel</button> -->
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>