.action-item {
    padding: 0px 5px;
    cursor: pointer;
}
.mt-btn{
    margin-top: 28px;
}
.search-table-outter { overflow-x: scroll; }
th, td { min-width: 145px;
max-width: 350px;
overflow-wrap: break-word;
}