<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="campaignForm" novalidate>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="sub-title">Search Criteria</div>
                </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MSDIN</label>
                        <div>
                            <input type="text" class="form-control" placeholder="MSDIN" formControlName="msdin">
                            <div *ngIf="reportingForm.controls.msdin.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.msdin.errors.required">*Field is
                                  required</span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="startDate">
                            <div *ngIf="campaignForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.startDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="endDate">
                            <div *ngIf="campaignForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="campaignForm.controls.endDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-btn">
                    <button class="btn btn-blue-light bt-fix" type="submit" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </form>
        <!-- <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="campaignForm.reset(); initializeForm()">Reset</button>
            <button class="btn btn-red-light bt-fix  mb-2" [disabled]="reportList.length == 0">Export excel</button>
            <div class="dropdown">
                <button class="btn btn-red-light bt-fix  mb-2" type="button" data-toggle="dropdown" [disabled]="campaignList.length == 0">Export As
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div> -->
        <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN_APPROVAL)">Actions</th>
                                <th (click)="campIdSorted = !campIdSorted; sortTable('id', campIdSorted, true)" class="sort-th">Campaign ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="campNameSorted = !campNameSorted; sortTable('campaignName', campNameSorted, true)" class="sort-th">Campaign Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="statusSorted = !statusSorted; sortTable('statusDesc', statusSorted)" class="sort-th">Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="scheduleTimeSorted = !scheduleTimeSorted; sortTable('scheduleTime', scheduleTimeSorted)" class="sort-th">Scheduled On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="createdTimeSorted = !createdTimeSorted; sortTable('createdOn', createdTimeSorted)" class="sort-th">Submittted On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="messageTypeSorted = !messageTypeSorted; sortTable('messageType', messageTypeSorted)" class="sort-th">SMS Type
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="messageTextSorted = !messageTextSorted; sortTable('messageText', messageTextSorted)" class="sort-th">SMS Content
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="senderIdSorted = !senderIdSorted; sortTable('senderId', senderIdSorted)" class="sort-th">Sender CLI
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="totalRecordCountSorted = !totalRecordCountSorted; sortTable('totalRecordCount', totalRecordCountSorted, true)"
                                    class="sort-th">Total SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="successfulRecordCountSorted = !successfulRecordCountSorted; sortTable('successfulRecordCount', successfulRecordCountSorted, true)"
                                    class="sort-th">Successful SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="failedRecordCountSorted = !failedRecordCountSorted; sortTable('failedRecordCount', failedRecordCountSorted, true)"
                                    class="sort-th">Failed SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="expiredRecordCountSorted = !expiredRecordCountSorted; sortTable('expiredRecordCount', expiredRecordCountSorted, true)"
                                    class="sort-th">Expired SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="retriedRecordCountSorted = !retriedRecordCountSorted; sortTable('retriedRecordCount', retriedRecordCountSorted, true)"
                                    class="sort-th">SMS Re-Tried
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="deliveryExpiredCountSorted = !deliveryExpiredCountSorted; sortTable('deliveryExpiredCount', deliveryExpiredCountSorted, true)"
                                    class="sort-th">Delivery Expired
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="invalidRecordCountSorted = !invalidRecordCountSorted; sortTable('invalidRecordCount', invalidRecordCountSorted, true)"
                                    class="sort-th">Invalid SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of campaignList | searchFilter: {id: searchText, campaignName: searchText, statusDesc: searchText, scheduleTime: searchText,
                                messageText: searchText, senderId: searchText, messageType: searchText }
                             | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td class="text-center " *ngIf="commonService.hasWriteAccess(MODULES.CAMPAIGN_APPROVAL)">
                                    <div class="btn-group btn-group-sm ">
                                        <i class="fa fa-check-circle-o action-item " title="Approve" (click)="toApprove(item)"></i>
                                        <i class="fa fa-times-circle-o action-item " title="Reject" (click)="toReject(item)"></i>
                                        <!-- <label class="switch ">
                                            <input type="checkbox"
                                                (change)="changeStatus($event.target.checked, item) " >
                                            <span class="slider round "></span>
                                        </label> -->
                                    </div>
                                </td>
                                <td>{{item.id}}</td>
                                <td>{{item.campaignName}}</td>
                                <td>{{item.statusDesc}}</td>
                                <td>{{item.scheduleTime | date:'short'}}</td>
                                <td>{{item.createdOn | date:'short'}}</td>
                                <td *ngIf="item.messageType==1">Text</td>
                                <td *ngIf="item.messageType==2">Unicode</td>
                                <td>{{item.messageText}}</td>
                                <td>{{item.senderId}}</td>
                                <td>{{item.totalRecordCount}}</td>
                                <td>{{item.successfulRecordCount}}</td>
                                <td>{{item.failedRecordCount}}</td>
                                <td>{{item.expiredRecordCount}}</td>
                                <td>{{item.retriedRecordCount}}</td>
                                <td>{{item.deliveryExpiredCount}}</td>
                                <td>{{item.invalidRecordCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="campaignList.length==0 " class="no-data ">No Records Found</div>
                    <pagination-controls *ngIf="campaignList.length!=0 " class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>