<div class="content-wrapper">
    <form class="form-t1" [formGroup]="moKeywordForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-12">
                    <div class="sub-title">Create New MO Keyword</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Case Sensitivity Flag*</label>
                        <select class="form-control" formControlName="caseSensitivityFlag">
                          <option value="" disabled selected hidden>Select</option>
                          <option value='Y'>Yes</option>
                          <option value='N'>No</option>                          
                      </select>
                        <div *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.caseSensitivityFlag.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Select Department User</label>
                        <select class="form-control" formControlName="user">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="user1">Department User 1</option>
                          <option value="user2">Department User 2</option>
                          <option value="user3">Department User 3</option>                          
                      </select>
                        <div *ngIf="moKeywordForm.controls.user.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.user.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Code*</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Code" formControlName="code">
                        </div>
                        <!-- <div class="error-wrappers">
                            <span class="upload-caption">*Multiple spam words are allowed separated by comma (,)</span>
                        </div> -->
                        <div *ngIf="moKeywordForm.controls.code.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.code.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Keyword*</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Keyword" formControlName="keywords">
                        </div>
                        <!-- <div class="error-wrappers">
                            <span class="upload-caption">*Multiple spam words are allowed separated by comma (,)</span>
                        </div> -->
                        <div *ngIf="moKeywordForm.controls.keywords.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.required">*Field is required</span>
                            <!-- <span class="error" *ngIf="moKeywordForm.controls.keywords.errors.pattern">*Field format is invalid</span> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Primary Route*</label>
                        <div>
                            <!-- <input type="text" class="form-control" placeholder="Primary Route" formControlName="primaryRouteId"> -->
                            <ng-multiselect-dropdown formControlName="primaryRouteId" [data]="primaryDropdownList" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <!-- <select class="form-control" formControlName="primaryRouteId">
                                <option value="" disabled selected hidden>Select</option>
                                <option value=1>Yes</option>
                                <option value=0>No</option>                          
                            </select> -->
                        </div>
                        <!-- <div class="error-wrappers">
                            <span class="upload-caption">*Multiple spam words are allowed separated by comma (,)</span>
                        </div> -->
                        <div *ngIf="moKeywordForm.controls.primaryRouteId.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.primaryRouteId.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Secondary Route</label>
                        <div>
                            <!-- <input type="text" class="form-control" placeholder="Secondary Route" formControlName="secondaryRouteId"> -->
                            <ng-multiselect-dropdown formControlName="secondaryRouteId" [data]="secondaryDropdownList" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                            <!-- <select class="form-control" formControlName="secondaryRouteId">
                                <option value="" disabled selected hidden>Select</option>
                                <option value=1>Yes</option>
                                <option value=0>No</option>                          
                            </select> -->
                        </div>
                        <!-- <div class="error-wrappers">
                            <span class="upload-caption">*Multiple spam words are allowed separated by comma (,)</span>
                        </div> -->
                        <div *ngIf="moKeywordForm.controls.secondaryRouteId.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.secondaryRouteId.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Department*</label>
                        <div>
                            <!-- <input type="text" class="form-control" placeholder="Secondary Route" formControlName="secondaryRouteId"> -->
                            <select class="form-control" formControlName="department">
                                <option value="" disabled selected hidden>Select</option>
                                <option [value]="item.id" *ngFor="let item of departments">{{item.department}}</option>
                                <!-- <option value="department 2">Department 2</option>                           -->
                            </select>
                        </div>
                        <!-- <div class="error-wrappers">
                            <span class="upload-caption">*Multiple spam words are allowed separated by comma (,)</span>
                        </div> -->
                        <div *ngIf="moKeywordForm.controls.department.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.department.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <div>
                            <select class="form-control" formControlName="status">
                                <option value="" disabled selected hidden>Select</option>
                                <option value=1>Enable</option>
                                <option value=0>Disable</option>                          
                            </select>
                        </div>
                        <div *ngIf="moKeywordForm.controls.status.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.status.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>MO Retry Required</label>
                        <select class="form-control" formControlName="retryReuired">
                          <option value="" disabled selected hidden>Select</option>
                          <option value=1>Yes</option>
                          <option value=0>No</option>                          
                      </select>
                        <div *ngIf="moKeywordForm.controls.retryReuired.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.retryReuired.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Retry Count</label>
                        <select class="form-control" formControlName="retryCount">
                          <option value="" disabled selected hidden>Select</option>
                          <option value=1>1</option>
                          <option value=2>2</option>                          
                          <option value=3>3</option>                          
                          <option value=4>4</option>                          
                      </select>
                        <div *ngIf="moKeywordForm.controls.retryCount.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="moKeywordForm.controls.retryCount.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="moKeywordForm.reset()">Reset</button>
                <!-- <button class="btn btn-red-light bt-fix  mb-2">Cancel</button> -->
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>