<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-12">
                <div class="sub-title">Sender-ID Information</div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" (search)="search()" class="form-control" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchTextChanged($event)">
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="button" class="btn btn-primary bt-radius" (click)="(searchText.trim() == '') ? false : applySearch()"><i
    class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
              <option value= 10>10</option>
              <option value= 20>20</option>
              <option value= 30>30</option>
            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th>User Name</th>
                                <th>Template Text</th>
                                <th>Approvved By</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of templateList | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{item.username}}</td>
                                <td>{{item.template}}</td>
                                <td>{{item.approvedBy}}</td>
                                <td>{{item.status == 1 ? 'Enabled' : 'Disabled'}}</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn"><i class="fa fa-trash" (click)="confirmDeleteRecord(item)"></i></button>
                                        <label class="switch">
                                        <input type="checkbox" [checked]="item['status']" (click)="changeStatus(item)">
                                        <span class="slider round"></span>
                                      </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>