<div class="content-wrapper">
    <form class="form-t1" [formGroup]="smsTemplateForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-12">
                    <div class="sub-title">Create New SMS Template</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>SMS Content Type</label>
                        <div>
                            <select class="form-control" formControlName="contentType">
                              <option value="" disabled selected hidden>Select</option>
                              <option value=1>Text</option>
                              <option value=2>Unicode</option>
                          </select>
                            <div *ngIf="smsTemplateForm.controls.contentType.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.contentType.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Template Name</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Template Name" formControlName="name">
                            <div *ngIf="smsTemplateForm.controls.name.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.name.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>User</label>
                        <div>
                            <select class="form-control" formControlName="user">
                                  <option value="" disabled selected hidden>Select</option>
                                  <option [value]="item.userId" *ngFor="let item of users">{{item.username}}</option>
                              </select>
                            <div *ngIf="smsTemplateForm.controls.user.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.user.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Reference ID</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Reference ID" formControlName="requestId">
                            <!-- <select class="form-control" formControlName="requestId">
                                      <option value="" disabled selected hidden>Select</option>
                                      <option value="requestId1">Request ID 1</option>
                                  </select> -->
                            <div *ngIf="smsTemplateForm.controls.requestId.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.requestId.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Mask Flag</label>
                        <div>
                            <select class="form-control" formControlName="maskFlag" (change)="maskFlagChanged($event.target.value)">
                                  <option value="" disabled selected hidden>Select</option>
                                  <option value="Y">Yes</option>
                                  <option value="N">No</option>
                              </select>
                            <div *ngIf="smsTemplateForm.controls.maskFlag.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.maskFlag.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="smsTemplateForm.controls['maskFlag'].value == 'Y'">
                    <div class="form-group">
                        <label>Mask Text</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Mask Text" formControlName="maskText">
                            <div *ngIf="smsTemplateForm.controls.maskText.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.maskText.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>Template Content</label>
                        <div>
                            <textarea type="text" class="form-control" placeholder="Enter column name in place of placeholder in sms conntent..." formControlName="content" #contentText></textarea>
                            <span class="template-content-labels">Entered SMS Length <span>{{contentText.value.length}}</span></span>
                            <span class="template-content-labels">Single SMS Length <span>160</span></span>
                            <span class="template-content-labels">Number of SMS per receipt <span>{{math.floor(contentText.value.length/160)}}</span></span>
                            <div *ngIf="smsTemplateForm.controls.content.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.content.errors.required">*Field is required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <div>
                            <button class="btn btn-blue-light bt-fix place-holder-button" (click)="addPlaceholder()">Add Placeholder</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" *ngIf="placeholder">
                    <div class="form-group">
                        <label>Placeholder</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Placeholder" formControlName="placeHolder">
                            <div *ngIf="smsTemplateForm.controls.placeHolder.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="smsTemplateForm.controls.placeHolder.errors.required">*Field is required</span>
                            </div>
                        </div>
                        <button class="btn btn-blue-light bt-fix place-holder-button" (click)="appendPlaceholder()">Add</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
                <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="smsTemplateForm.reset()">Reset</button>
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>