<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="aggregatorForm" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">Add New Aggregator</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Name <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="aggregatorName" placeholder="Enter aggregator name" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorName.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.minlength">Minimum
                      length is 3 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.maxlength">Maximum
                      length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorName.errors.pattern">Only
                      alphabets allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Type <span class="required-sign">*</span></label>
                                <div>
                                    <select class="form-control" formControlName="aggregatorType" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorType.errors}">
                    <option value="" disabled selected hidden>Select</option>
                    <option value="{{item.id}}" *ngFor="let item of aggregatorTypeList">{{item.name}}</option>
                  </select>
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorType.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorType.errors.required">Required
                      Field</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>TPS <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="tps" placeholder="Enter TPS" maxlength="4" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.tps.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.tps.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.pattern">Only
                      numbers allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Topic <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="topic" placeholder="Enter topic" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.topic.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.topic.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.minlength">Minimum
                      length is 3 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.maxlength">Maximum
                      length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.topic.errors.pattern">Only
                      alpha-numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Protocol <span class="required-sign">*</span></label>
                                <div>
                                    <select class="form-control" formControlName="aggregatorProtocol" (change)="aggregatorProtocolChanged()" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors}">
                    <option value="" disabled selected hidden>Select</option>
                    <option value="{{item.id}}" *ngFor="let item of aggregatorProtocolList">{{item.name}}</option>
                  </select>
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.aggregatorProtocol.errors.required">Required
                      Field</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == HTTP">
                            <div class="form-group">
                                <label>URL <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="url" placeholder="Enter URL" maxlength="100" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.tps.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.tps.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.tps.errors.pattern">Invalid
                      URL</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == SMPP">
                            <div class="form-group">
                                <label>Source IP <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="sourceIp" placeholder="Enter source ip address" maxlength="100" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.sourceIp.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourceIp.errors.pattern">Invalid
                      IP Address</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" *ngIf="aggregatorForm.controls.aggregatorProtocol.value == SMPP">
                            <div class="form-group">
                                <label>Source Port <span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="sourcePort" placeholder="Enter source port" maxlength="5" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.sourcePort.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.sourcePort.errors.pattern">Only
                      numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Username<span class="required-sign">*</span></label>
                                <div>
                                    <input type="text" class="form-control" formControlName="userName" placeholder="Enter username" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.userName.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.userName.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.minlength">Minimum
                      length is 2 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.maxlength">Maximum
                      length is 50 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.userName.errors.pattern">Only
                      alpha-numeric characters allowed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Password<span class="required-sign">*</span></label>
                                <div>
                                    <input type="password" class="form-control" formControlName="passWord" placeholder="Enter password" maxlength="50" [ngClass]="{'error-border': formSubmitted && aggregatorForm.controls.passWord.errors}">
                                    <div *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.required">Required
                      field</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.minlength">Minimum
                      length is 2 characters</span>
                                        <span class="error" *ngIf="formSubmitted && aggregatorForm.controls.passWord.errors.maxlength">Maximum
                      length is 50 characters</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-blue-light bt-fix mr-3 mb-2" [disabled]="disableSubmit" (click)="saveAggregator()">
                <span *ngIf="!isEdit">Register</span><span *ngIf="isEdit">Update</span></button>
                            <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2">Reset</button> -->
                            <button class="btn btn-red-light bt-fix  mb-2" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>