<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES) && !isEdit">
            <div class="col-12" style="text-align: right">
                <button type="button" class="btn btn-primary" (click)="editMode()"> Edit Mulitple Routes</button>
            </div>
        </div>
        <div class="row justify-content-between mb-2" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES) && isEdit">
            <div class="col-12">
                <div class="sub-title">Edit Routes</div>
            </div>
            <div class="col-6">
                <em>{{searchType == "D" ? "Domestic Routes" : "International Routes"}}</em>
            </div>
            <div class="col-6" style="text-align: right">
                <button type="button" class="btn btn-success" (click)="updateRotuesInfo()"> Update</button>
                <button type="button" class="btn btn-basic" (click)="cancelEdit()"> Cancel</button>
            </div>
        </div>
        <div class="row justify-content-between mb-2" *ngIf="!isEdit">
            <div class="col-12">
                <div class="sub-title">View Routes</div>
            </div>
            <div class="col-12">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>List By</label>
                        <select class="form-control" [(ngModel)]="searchType" (change)="searchTypeChanged()">
              <option value="D">Domestic</option>
              <option value="I">International</option>
            </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search By" [(ngModel)]="searchText" />
                </div>
            </div>
            <div class="col-2">
                <!-- <div class="form-group">
            <button type="button" class="btn btn-primary bt-radius" (click)="(searchText.trim() == '') ? false : applySearch()"><i
                class="fa fa-search"></i></button>
          </div> -->
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>                            
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!isEdit">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th (click)="userNameSorted = !userNameSorted; sortTable('userName', userNameSorted)" class="sort-th">Username <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th>Primary Route</th>
                                <th>Secondary Route</th>
                                <th (click)="topologyModeSorted = !topologyModeSorted; sortTable('topologyMode', topologyModeSorted, true)" class="sort-th">Topology <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="retryFlagSorted = !retryFlagSorted; sortTable('retryFlag', retryFlagSorted)" class="sort-th">Retry Flag <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th class="sort-th">Retry Route <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows | searchFilter: {userName: searchText} | 
                                                    paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center ">
                                    <div class="btn-group btn-group-sm ">
                                        <a class="action-link" (click)="viewRouteInfo(row, showRouteDetails)">
                                            <i class="fa fa-eye action-item" title="View"></i>
                                        </a>
                                        <a class="action-link" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES)" [routerLink]="['/main/manage-route/add']" [queryParams]="{ userId: item.user }">
                                            <i class="fa fa-pencil action-item" title="Update Route"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>{{item['userName']}}</td>
                                <td>{{item['primaryRouteId']['aggregatorName']}}</td>
                                <td>{{item['secondaryRouteId']['aggregatorName'] || 'NA'}}</td>
                                <td>{{item['topologyMode'] == 1 ? "Active/Active" : "Active/Passive"}}</td>
                                <td>{{item['retryFlag'] == 'Y' ? "On" : "Off"}}</td>
                                <td>{{item['retryFlag'] == 'Y' ? item['retryRouteId']['aggregatorName'] : "NA"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="rows.length==0 " class="no-data ">No Records Found!</div>
                    <pagination-controls class="my-pagination" *ngIf="rows.length!=0 " (pageChange)="p=$event "></pagination-controls>
                </div>

                <!-- <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [rowHeight]="50" [scrollbarH]="true" [footerHeight]="40" [limit]="pageLimit" [reorderable]="reorderable">
                    <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
                    <ngx-datatable-column name="Primary Route" prop="primaryRouteId.aggregatorName"></ngx-datatable-column>

                    <ngx-datatable-column name="Secondary Route">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.secondaryRouteId.aggregatorName ? row.secondaryRouteId.aggregatorName : "NA" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Topology">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.topologyMode == 1 ? "Active/Active" : "Active/Passive" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Retry Flag">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.retryFlag == 'Y' ? "On" : "Off" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Retry Route">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.retryFlag == 'Y' ? row.retryRouteId.aggregatorName : "NA" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Actions" [frozenRight]="true" cellClass="background-white">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          
                            <a class="action-link" #viewBtn (click)="viewRouteInfo(row, showRouteDetails, viewBtn)">
                                <i class="fa fa-eye action-item" title="View"></i>
                            </a>
                            <a class="action-link" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES)" [routerLink]="['/main/manage-route/add']" [queryParams]="{ userId: row.user }">
                                <i class="fa fa-pencil action-item" title="Update Route"></i>
                            </a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable> -->
            </div>
        </div>

        <div class="row" *ngIf="commonService.hasWriteAccess(MODULES.ROUTES) && isEdit">
            <div class="col-12">
                <form [formGroup]="bulkRouteUpdateForm" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" formControlName="selectAll" (change)="routeSelectionChanged(-1,$event)"></th>
                                            <th>Username</th>
                                            <th>Topology</th>
                                            <th>Primary Route</th>
                                            <th>Secondary Route</th>
                                            <th>TPS</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="routeItemsList">
                                        <tr [formGroupName]="x" *ngFor="let rowItem of rows; let x = index">
                                            <td>
                                                <div class="form-group"> <input type="checkbox" formControlName="isSelectedRoute" (change)="routeSelectionChanged(x,$event)"></div>
                                            </td>
                                            <td>{{rowItem.username}}</td>
                                            <td>{{ rowItem.topologyMode == 1 ? "Active/Active" : "Active/Passive" }}</td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="primaryRoute" (change)="aggregatorChanged(x,'P')" [ngClass]="{'error-border': bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['primaryRoute'].errors}">
                            <option value="" disabled selected hidden>Select</option>
                            <option value="{{item.id}}" *ngFor="let item of primaryAggregatorList">
                              {{item.aggregatorName}}</option>
                          </select>
                                                    <div *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['primaryRoute'].errors" class="error-wrappers">
                                                        <span class="error" *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['primaryRoute'].errors.required">Required
                              Field</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" formControlName="secondaryRoute" (change)="aggregatorChanged(x,'S')" [ngClass]="{'error-border': bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['secondaryRoute'].errors}">
                            <option value="" selected>Select</option>
                            <option value="{{item.id}}" *ngFor="let item of secondaryAggregatorList">
                              {{item.aggregatorName}}</option>
                          </select>
                                                    <div *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['secondaryRoute'].errors" class="error-wrappers">
                                                        <span class="error" *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['secondaryRoute'].errors.required">Required
                              Field</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" formControlName="tps" [ngClass]="{'error-border': bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['tps'].errors}">
                                                    <div *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['tps'].errors" class="error-wrappers">
                                                        <span class="error" *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['tps'].errors.required">Required
                              Field</span>
                                                        <span class="error" *ngIf="bulkRouteUpdateForm['controls']['routeItemsList']['controls'][x]['controls']['tps'].errors.pattern">Only
                              numeric characters allowed</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #showRouteDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Route Details</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <!-- btn-link  -->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">Basic Details</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Username</label>
                                <div>
                                    {{ viewRouteDetails.username }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Type</label>
                                <div>
                                    {{ viewRouteDetails.routeType == "D" ? "Domestic" : "International" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Topology </label>
                                        <div>
                                            {{ viewRouteDetails.topologyMode == 1 ? "Active/Active" : "Active/Passive" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Primary Route</label>
                                        <div>
                                            {{ viewRouteDetails.primaryRouteId["aggregatorName"] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Secondary Route </label>
                                        <div>
                                            {{ viewRouteDetails.secondaryRouteId["aggregatorName"] }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Primary Traffic Percentage </label>
                                        <div>
                                            {{ viewRouteDetails.primaryTrafficPer}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="viewRouteDetails.retryFlag == 'N'">
                        <div class="col-12">
                            <div class="sub-title">Retry Details</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Retry Flag
                </label>
                                <div>
                                    Off
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="viewRouteDetails.retryFlag == 'Y'">
                        <div class="col-12">
                            <div class="sub-title">Retry Details</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Retry Flag
                </label>
                                <div>
                                    On
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Retry Route </label>
                                <div>
                                    {{ viewRouteDetails.retryRouteId["aggregatorName"] }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label class="heading">Maximum Retry Count </label>
                                <div>
                                    {{ viewRouteDetails.maxRetryCount }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" *ngFor="let retryInfoObj of viewRouteDetails.retryDetails; let x = index ">
                            <div class="form-group">
                                <label class="heading">Retry Interval {{retryInfoObj.retryCountNo}} </label>
                                <div>
                                    {{ retryInfoObj.retryInterval }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>