<div class="content-wrapper">
    <form class="form-t1" [formGroup]="spamKeywordForm" novalidate>
        <div class="container-fluid form-t1">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Select Spam Level</label>
                        <select class="form-control" formControlName="level">
                            <option value="" disabled selected hidden>Select</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        <div *ngIf="spamKeywordForm.controls.level.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="spamKeywordForm.controls.level.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Spam Keyword</label>
                        <div>
                            <input type="text" class="form-control" placeholder="" formControlName="keyword">
                        </div>

                        <div *ngIf="spamKeywordForm.controls.keyword.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="spamKeywordForm.controls.keyword.errors.required">*Field is required</span>
                            <span class="error" *ngIf="spamKeywordForm.controls.keyword.errors.pattern">Only 10 digits mobile numbers allowed</span>
                        </div>
                        <div class="error-wrappers">
                            <span class="upload-caption">*10 spam words are allowed separated by comma(,) and each word of atleast 2 alphanumeric letter
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex mt-2 col-lg-4 col-md-6">
                    <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>