.main-layout{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: stretch;

}


.left-panel{
  background: #0C376A;
  transition: width 0.3s ease;
  overflow-x: hidden;
  width: 60px;
  flex-basis: 60px;
  min-width: 60px;
  display: flex;
  flex-direction: row;
  transition: all ease-out 100ms;

}

.left-panel.show{

  width: 240px;
  flex-basis: 240px;
  min-width: 240px;

  transition: all ease-out 100ms;
}

.left-panel.collapsing {
  height: inherit!important;
  overflow: unset;
}




.right-panel{
  position: relative;
  overflow-y: auto;
}
