<div class="modal-body modal-md">
    <button type="button" class="btn close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
    <p>{{content}}</p>
    <!-- <textarea [(ngModel)]="notes" name="remarks"></textarea> -->
</div>
<div class="modal-footer modal-md">
    <button type="button" class="btn btn-danger" (click)="activeModal.close('no')" *ngIf="leftButton">{{leftButton || 'No'}}</button>
    <button type="button" class="btn btn-success" (click)="activeModal.close('yes')" *ngIf="rightButton">{{rightButton || 'Yes'}}</button>
</div>