<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th>Keywords</th>
                                <th>Level</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of spamKeywordsList | paginate: { itemsPerPage: pageLimit, currentPage: p } |
                            searchFilter: {keyword: searchText, id:searchText}">
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-pencil action-item" title="Update" (click)="updateRecord(updatemodal, item)"></i>
                                        <i class="fa fa-trash action-item" title="Delete" (click)="confirmDeleteRecord(item)"></i>
                                        <label class="switch">
                                            <input type="checkbox" [checked]="item['status']" (click)="changeStatus(item)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{item['keyword']}}</td>
                                <td>Level</td>
                                <td>Disable</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <!-- <span *ngIf="!isEdit">Add New Role</span> -->
            <span>Update CLI</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class=" form  form-t1" [formGroup]="spamKeywordForm" novalidate>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>*Keywords</label>
                            <div>
                                <input placeholder="Keywords" type="text" class="form-control" formControlName="keywords">
                                <!-- <small class="form-text text-muted"><code>{{roleNameVar.value.length}}</code> -->
                                <!-- characters</small> -->
                                <div *ngIf="f.keywords.errors && formSubmitted" class="error-wrappers">
                                    <span class="error" *ngIf="f.keywords.errors.required">*Keywords is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>*Level</label>
                            <div>
                                <select class="form-control" formControlName="level">
                                    <option value="low">Low</option>
                                    <option value="medium">Medium</option>
                                    <option value="high">High</option>
                                </select>
                                <!-- <input placeholder="Status" type="text" class="form-control" formControlName="status"> -->
                                <!-- <small class="form-text text-muted"><code>{{roleNameVar.value.length}}</code> -->
                                <!-- characters</small> -->
                                <div *ngIf="f.level.errors && formSubmitted" class="error-wrappers">
                                    <span class="error" *ngIf="f.level.errors.required">*Level is required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>*Status</label>
                            <div>
                                <select class="form-control" formControlName="status">
                                    <option value=1>Enable</option>
                                    <option value=0>Disable</option>
                                </select>
                                <input placeholder="Status" type="text" class="form-control" formControlName="status"> -->
                                <!-- <small class="form-text text-muted"><code>{{roleNameVar.value.length}}</code> -->
                                <!-- characters</small>
                                <div *ngIf="f.status.errors && formSubmitted" class="error-wrappers">
                                    <span class="error" *ngIf="f.status.errors.required">*Status user is required</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-success mr-3" (click)="saveCLI()">Save</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>