.action-item {
    padding: 0px 5px;
    cursor: pointer;
}

.switch {
    width: 40px;
    height: 20px;
}

.slider:before {
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.per-page-record-label {
    margin-left: 5px;
}
.search-table-outter { overflow-x: scroll; }
th, td { min-width: 150px; 
    max-width: 350px;
    overflow-wrap: break-word;
 }