.action-item {
    padding: 0px 5px;
    cursor: pointer;
}
.vertical-center{
    margin-bottom: auto;
    margin-top: auto;
}
.mt-btn{
    margin-top: 28px;
}

.search-table-outter { overflow-x: scroll; }
th, td { min-width: 150px; 
    max-width: 350px;
    overflow-wrap: break-word;
 }
// .my-pagination /deep/ .ngx-pagination {
//     text-align: left;
//     padding-left:0px;
//   }
