<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Manage Sender CLI</span>
            </nav>
        </div>
    </div>
</div>

<section class="right-panel-wrapper">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SENDERID)">
            <a class="nav-link" routerLink="/main/manage-sender-id/list-sender-id" routerLinkActive="active">View CLI's</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasWriteAccess(MODULES.SENDERID)">
            <a class="nav-link" routerLink="/main/manage-sender-id/create-sender-id" routerLinkActive="active">Create Sender-CLI</a>
        </li>
        <!-- <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SENDERID_APPROVAL)">
            <a class="nav-link" routerLink="/main/manage-sender-id/pending-sender-id" routerLinkActive="active"> Pending for Approval Sender-ID</a>
        </li> -->
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SENDERID_BULKUPLOAD)">
            <a class="nav-link" routerLink="/main/manage-sender-id/upload-bulk-sender-id" routerLinkActive="active"> Upload Bulk Sender-CLI's</a>
        </li>
    </ul>
    <router-outlet></router-outlet>

</section>