<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="routeForm" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">Route Details</div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>User ID <span class="required-sign">*</span></label>
                                <div>
                                    <select class="form-control" formControlName="userId" (change)="userSelectionChanged()" [ngClass]="{'error-border': isFormSubmitted && routeForm.controls.userId.errors}">
                    <option value="" disabled selected hidden>Select</option>
                    <option value="{{item.userId}}" *ngFor="let item of userList">{{item.userName}} ({{item.role}})</option>
                  </select>
                                    <div *ngIf="isFormSubmitted && routeForm.controls.userId.errors" class="error-wrappers">
                                        <span class="error" *ngIf="isFormSubmitted && routeForm.controls.userId.errors.required">Required
                      Field</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <ngb-panel title="Domestic Route Details" *ngIf="routeForm.controls.userId.value!=''">
                            <ng-template ngbPanelContent>
                                <div class="row" formGroupName="domestic">
                                    <!-- <div class="col-12">
                    <div class="sub-title">Domestic Route Details</div>
                  </div> -->
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label>Topology <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="topology" (change)="topologyChanged(DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.topology.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of topologyList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.topology.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.topology.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label>Primary Route <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="primaryRoute" (change)="routeChanged('primaryRoute',DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.primaryRoute.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of domesticPrimaryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.primaryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.primaryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label>Secondary Route <span *ngIf="domesticRouteForm.topology.value==1" class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="secondaryRoute" (change)="routeChanged('secondaryRoute',DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.secondaryRoute.errors}">
                              <option value="" selected >Select</option>
                              <option value="{{item.id}}" *ngFor="let item of domesticSecondaryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.secondaryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.secondaryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label>Primary Traffic Percentage <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="primaryTrafficPercentage" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.primaryTrafficPercentage.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of primaryTrafficPercentageList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.primaryTrafficPercentage.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.primaryTrafficPercentage.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="sub-title">Retry Details</div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 d-flex align-items-center">

                                                <div class="switch-wrapper w-100">
                                                    <span class="sw-label">Retry Flag :</span> <label class="switch">
                            <input type="checkbox" formControlName="retryFlag" (change)="flagChanged(DOMESTIC,'retryFlag',['retryRoute','retryCount'])">
                            <span class="slider"></span>
                          </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6" *ngIf="domesticRouteForm.retryFlag.value">
                                                <div class="form-group">
                                                    <label>Retry Route <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="retryRoute" (change)="routeChanged('retryRoute',DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.retryRoute.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of domesticRetryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.retryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.retryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6" *ngIf="domesticRouteForm.retryFlag.value">
                                                <div class="form-group">
                                                    <label>Retry Count <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="retryCount" (change)="retryCountChanged(DOMESTIC)" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm.retryCount.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of retryCountList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && domesticRouteForm.retryCount.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && domesticRouteForm.retryCount.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template [ngIf]="domesticRouteForm.retryFlag.value">
                                                <div class="col-lg-4 col-md-6" formArrayName="retryIntervalArray" *ngFor="let retryIntervalItem of domesticRouteForm.retryIntervalArray.controls; let i = index">
                                                    <div class="form-group" [formGroupName]="i">
                                                        <label>Retry Interval {{i+1}} <span class="required-sign">*</span></label>
                                                        <div>
                                                            <input type="text" class="form-control" formControlName="retryInterval" placeholder="Enter retry interval" maxlength="10" [ngClass]="{'error-border': isFormSubmitted && domesticRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors}">
                                                            <div *ngIf="isFormSubmitted && domesticRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors" class="error-wrappers">
                                                                <span class="error" *ngIf="isFormSubmitted && domesticRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.required">Required
                                  Field</span>
                                                                <span class="error" *ngIf="isFormSubmitted && domesticRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.pattern">Only
                                  Numerics allowed</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel *ngIf="selectedUser && selectedUser['internationalRouteFlag']=='Y'">
                            <ng-template ngbPanelTitle>
                                International Route Details
                            </ng-template>
                            <ng-template ngbPanelContent>

                                <!--International Route details-->
                                <div class="row" formGroupName="international">
                                    <!-- <div class="col-12">
                    <div class="sub-title">International Route Details</div>
                  </div> -->
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 d-flex align-items-center">

                                                <div class="switch-wrapper w-100">
                                                    <span class="sw-label">International Route :</span> <label class="switch">
                            <input type="checkbox" formControlName="internationalRoute" (change)="flagChanged(INTERNATIONAL,'internationalRoute',['topology','primaryRoute','secondaryRoute','primaryTrafficPercentage'])">
                            <span class="slider"></span>
                          </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.internationalRoute.value">
                                                <div class="form-group">
                                                    <label>Topology <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="topology" (change)="topologyChanged(INTERNATIONAL)" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.topology.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of topologyList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.topology.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.topology.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.internationalRoute.value">
                                                <div class="form-group">
                                                    <label>Primary Route <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="primaryRoute" (change)="routeChanged('primaryRoute',INTERNATIONAL)" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.primaryRoute.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of internationalPrimaryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.primaryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.primaryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.internationalRoute.value">
                                                <div class="form-group">
                                                    <label>Secondary Route <span *ngIf="internationalRouteForm.topology.value==1" class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="secondaryRoute" (change)="routeChanged('secondaryRoute',INTERNATIONAL)" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.secondaryRoute.errors}">
                              <option value="" selected>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of internationalSecondaryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.secondaryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.secondaryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.internationalRoute.value">
                                                <div class="form-group">
                                                    <label>Primary Traffic Percentage <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="primaryTrafficPercentage" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.primaryTrafficPercentage.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of primaryTrafficPercentageList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.primaryTrafficPercentage.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.primaryTrafficPercentage.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="internationalRouteForm.internationalRoute.value">
                                            <div class="col-12">
                                                <div class="sub-title">Retry Details</div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 d-flex align-items-center">

                                                <div class="switch-wrapper w-100">
                                                    <span class="sw-label">Retry Flag :</span> <label class="switch">
                            <input type="checkbox" formControlName="retryFlag" (change)="flagChanged(INTERNATIONAL,'retryFlag',['retryRoute','retryCount'])">
                            <span class="slider"></span>
                          </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.retryFlag.value">
                                                <div class="form-group">
                                                    <label>Retry Route <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="retryRoute" (change)="routeChanged('retryRoute',INTERNATIONAL)" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.retryRoute.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of internationalRetryAggregatorList">{{item.aggregatorName}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.retryRoute.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.retryRoute.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6" *ngIf="internationalRouteForm.retryFlag.value">
                                                <div class="form-group">
                                                    <label>Retry Count <span class="required-sign">*</span></label>
                                                    <div>
                                                        <select class="form-control" formControlName="retryCount" (change)="retryCountChanged(INTERNATIONAL)" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm.retryCount.errors}">
                              <option value="" disabled selected hidden>Select</option>
                              <option value="{{item.id}}" *ngFor="let item of retryCountList">{{item.name}}</option>
                            </select>
                                                        <div *ngIf="isFormSubmitted && internationalRouteForm.retryCount.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="isFormSubmitted && internationalRouteForm.retryCount.errors.required">Required
                                Field</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template [ngIf]="internationalRouteForm.retryFlag.value">
                                                <div class="col-lg-4 col-md-6" formArrayName="retryIntervalArray" *ngFor="let retryIntervalItem of internationalRouteForm.retryIntervalArray.controls; let i = index">
                                                    <div class="form-group" [formGroupName]="i">
                                                        <label>Retry Interval {{i+1}} <span class="required-sign">*</span></label>
                                                        <div>
                                                            <input type="text" class="form-control" formControlName="retryInterval" placeholder="Enter retry interval" maxlength="100" [ngClass]="{'error-border': isFormSubmitted && internationalRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors}">
                                                            <div *ngIf="isFormSubmitted && internationalRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors" class="error-wrappers">
                                                                <span class="error" *ngIf="isFormSubmitted && internationalRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.required">Required
                                  Field</span>
                                                                <span class="error" *ngIf="isFormSubmitted && internationalRouteForm['retryIntervalArray']['controls'][i]['controls']['retryInterval'].errors.pattern">Only
                                  Numerics allowed</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>

                    <div class="d-flex justify-content-center mt-4" *ngIf="routeForm.controls.userId.value!=''">
                        <button (click)="saveRoute()" class="btn btn-blue-light bt-fix  mb-2">Save
            </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>