<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Change Password</span>
            </nav>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <!-- //justify-content-center     -->
            <div class="col-12">
                <form [formGroup]="changePasswordForm" novalidate>
                    <div class="row">
                        <!-- //justify-content-center     -->
                        <!-- <div class="col-12">
              <div class="sub-title">Change Password</div>
            </div> -->
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Current Password <span class="required-sign">*</span></label>
                                <div>
                                    <input type="password" class="form-control" formControlName="currentPassword" placeholder="Enter current password" maxlength="100" [ngClass]="{'error-border': formSubmitted && changePasswordForm.controls.currentPassword.errors }">
                                    <div *ngIf="formSubmitted && changePasswordForm.controls.currentPassword.errors" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && changePasswordForm.controls.currentPassword.errors.required">Required
                      Field</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- //justify-content-center     -->
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>New Password <span class="required-sign">*</span></label>
                                <div>
                                    <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter new password" maxlength="100" [ngClass]="{'error-border': formSubmitted && (changePasswordForm.controls.newPassword.errors || changePasswordForm.controls.currentPassword.errors?.currentAndNewPasswordMatched)}">
                                    <div *ngIf="formSubmitted && (changePasswordForm.controls.newPassword.errors || changePasswordForm.controls.newPassword.errors?.currentAndNewPasswordMatched)" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && changePasswordForm.controls.newPassword.errors?.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && changePasswordForm.controls.newPassword.errors?.currentAndNewPasswordMatched">New password
                      cannot be same current password
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- //justify-content-center     -->
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Confirm New Password <span class="required-sign">*</span></label>
                                <div>
                                    <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="Enter confirm new password" maxlength="100" [ngClass]="{'error-border': formSubmitted && (changePasswordForm.controls.confirmNewPassword.errors || changePasswordForm.controls.confirmNewPassword.errors?.confirmAndNewPasswordNotMatched)}">
                                    <div *ngIf="formSubmitted && (changePasswordForm.controls.confirmNewPassword.errors || changePasswordForm.controls.confirmNewPassword.errors?.confirmAndNewPasswordNotMatched)" class="error-wrappers">
                                        <span class="error" *ngIf="formSubmitted && changePasswordForm.controls.confirmNewPassword.errors?.required">Required
                      Field</span>
                                        <span class="error" *ngIf="formSubmitted && changePasswordForm.controls.confirmNewPassword.errors?.confirmAndNewPasswordNotMatched">Confirm
                      password must be same as new password</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex mt-2 col-lg-4 col-md-6">
                <!-- //justify-content-center     -->
                <button (click)="changePassword()" class="btn btn-blue-light bt-fi mb-2">Change Password
        </button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>