<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="sub-title">Search Criteria</div>
                </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Keyword</label>
                        <div>
                            <input type="text" class="form-control" placeholder="Keyword" formControlName="keyword">
                            <div *ngIf="reportingForm.controls.keyword.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.keyword.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="startDate">
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="" formControlName="endDate">
                            <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">*Field is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 mt-3 d-flex justify-content-center">
                    <strong class="mr-4">Group By :</strong>
                    <label class="radio-wrap mr-4">Date
                        <input id="Option3" value="date" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                    <label class="radio-wrap mr-4">Keyword
                        <input id="Option3" value="keyword" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                </div> -->
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="reportingForm.reset(); initializeForm()">Reset</button> -->
            <!-- <button class="btn btn-red-light bt-fix  mb-2" (click)="exportAsXLSX()" [disabled]="reportList.length == 0">Export excel</button> -->
            <div class="dropdown">
                <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown" >Export As
                        <!-- [disabled]="reportList.length == 0" -->
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>              
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th (click)="dateSorted = !dateSorted; sortTable('date', dateSorted)" class="sort-th">Date
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)" class="sort-th">Department
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="keywordSorted = !keywordSorted; sortTable('keyword', keywordSorted)" class="sort-th">Keyword
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="shortLongCodeSorted = !shortLongCodeSorted; sortTable('shortLongCode', shortLongCodeSorted)" class="sort-th">Short/Long Code
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="totalCountSorted = !totalCountSorted; sortTable('countTotal', totalCountSorted, true)" class="sort-th">Total Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="successCountSorted = !successCountSorted; sortTable('countSuccess', successCountSorted, true)" class="sort-th">Success Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="failedCountSorted = !failedCountSorted; sortTable('countFailed', failedCountSorted, true)" class="sort-th">Failed Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportList | searchFilter: {date: searchText, keyword: searchText } | paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{item['date'] | date:'yyyy-MM-dd'}}</td>
                                <td>{{item['department']}}</td>
                                <td>{{item['keyword']}}</td>
                                <td>{{item['shortLongCode']}}</td>
                                <td>{{item['countTotal']}}</td>
                                <td>{{item['countSuccess']}}</td>
                                <td>{{item['countFailed']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="reportList.length==0 " class="no-data ">No Records Found</div>
                    <pagination-controls *ngIf="reportList.length>0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>