<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <ng-container *ngIf="commonService.getChannelId() != 2">
                        <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                            <thead class="thead-sb">
                                <tr>
                                    <th class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE)">Action</th>
                                    <th (click)="templateNameSorted = !templateNameSorted; sortTable('templateName', templateNameSorted)" class="sort-th">Template Name
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="contentTypeSorted = !contentTypeSorted; sortTable('templateContentType', contentTypeSorted)" class="sort-th">Template Content Type
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th>Template Text</th>
                                    <th (click)="assignedToSorted = !assignedToSorted; sortTable('username', assignedToSorted)" class="sort-th">Assigned To
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="createdBySorted = !createdBySorted; sortTable('createdBy', createdBySorted)" class="sort-th">Created By
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="approvedBySorted = !approvedBySorted; sortTable('approvedBy', approvedBySorted)" class="sort-th">Approved By
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th (click)="statusSorted = !statusSorted; sortTable('status', statusSorted, true)" class="sort-th">Status
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of templateList | 
                            searchFilter: {department: searchText, username:searchText,  template: searchText, approvedBy: searchText} | 
                            paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                    <td class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE)">
                                        <div class="btn-group btn-group-sm">
                                            <i class="fa fa-trash action-item" title="Delete" (click)="confirmDeleteRecord(item)"></i>
                                            <label class="switch">
                                            <input type="checkbox" [checked]="item['status'] == 1"
                                                (change)="changeStatus($event.target.checked, item)">
                                            <span class="slider round"></span>
                                        </label>
                                        </div>
                                    </td>
                                    <td>{{item.templateName}}</td>
                                    <td>{{item.templateContentType}}</td>
                                    <td>{{item.template}}</td>
                                    <td>{{item.username}}</td>
                                    <td>{{item.createdBy}}</td>
                                    <td>{{item.approvedBy}}</td>
                                    <td>{{item.status == 1 ? 'Enabled' : 'Disabled'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="templateList.length==0 " class="no-data ">No Records Found!</div>
                    </ng-container>
                    <ng-container *ngIf="commonService.getChannelId() == 2">
                        <table class="table table-bordered table-striped table-hover table-sm">
                            <thead class="thead-sb">
                                <tr>
                                    <th (click)="templateNameSorted = !templateNameSorted; sortTable('name', templateNameSorted)" class="sort-th">Template Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th (click)="contentTypeSorted = !contentTypeSorted; sortTable('contentType', contentTypeSorted, true)" class="sort-th">Template Content Type <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th (click)="approvedBySorted = !approvedBySorted; sortTable('content', approvedBySorted)" class="sort-th">Template Text <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th (click)="assignedToSorted = !assignedToSorted; sortTable('type', assignedToSorted, true)" class="sort-th">Template Type <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th (click)="createdBySorted = !createdBySorted; sortTable('creationDate', createdBySorted)" class="sort-th">Created On <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of templateList | 
                                searchFilter: {name: searchText, content:searchText} | 
                                paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                    <td>{{item.name}}</td>
                                    <td>{{item.contentType == 1 ? 'Text' : 'Unicode'}}</td>
                                    <td>{{item.content}}</td>
                                    <td>{{item.type == 1 ? 'Mannual' : 'User Defined'}}</td>
                                    <td>{{item.creationDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.status.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="templateList.length==0 " class="no-data ">No Records Found!</div>
                    </ng-container>
                    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>