<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-8 responsive-login-bg  ">
                <div class="img-div">
                    <img src="assets/images/left_img.png" alt="">
                </div>
                <div class="img-text">Appliance Based SMS Solution</div>
            </div>
            <div class="col d-flex right-wrapper">
                <div class="w-100">
                    <div class="logo-login">
                        <img class="img-fluid" src="assets/images/logo_sbi.png" alt="">
                    </div>
                    <div class="login-box" *ngIf="isValidToken">
                        <div class="login-form mx-auto">
                            <div class="login-text">Set Password</div>
                            <form class=" mt-2 p-0" [formGroup]="setPasswordForm" novalidate>
                                <div class="l-form">
                                    <div class="input-group">
                                        <input type="password" class="form-control cus-form-control" placeholder="New password" formControlName="newPassword">
                                        <div *ngIf="setPasswordForm.controls.newPassword.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="setPasswordForm.controls.newPassword.errors.required">*User id is
                        required</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control cus-form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword">
                                        <div *ngIf="setPasswordForm.controls.confirmNewPassword.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="setPasswordForm.controls.confirmNewPassword.errors?.required">*Confirm
                        password is required</span>
                                            <span class="error" *ngIf="setPasswordForm.controls.confirmNewPassword.errors?.confirmAndNewPasswordNotMatched">*Confirm
                        password must be same as new password</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-sign-in" (click)="submitForm()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftr">
    &copy;2019.All Rights Reserved SBI
</footer>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>