<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-12">
                <div class="sub-title">View Users Requests</div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search By" [(ngModel)]="searchText" />
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center">Actions</th>
                                <th (click)="txnIdSorted = !txnIdSorted; sortTable('txnId', txnIdSorted, true)" class="sort-th">Transaction ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th>Request Type</th>
                                <th (click)="usernameSorted = !usernameSorted; sortTable('username', usernameSorted)" class="sort-th">Username
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="emailSorted = !emailSorted; sortTable('email', emailSorted)" class="sort-th">Email Address
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="statusSorted = !statusSorted; sortTable('overallStatus', statusSorted)" class="sort-th">Overall Status
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="dateSorted = !dateSorted; sortTable('creationDate', dateSorted)" class="sort-th">Request Raised On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows | 
                        searchFilter: {txnId: searchText, username:searchText, email: searchText, overallStatus: searchText} | 
                        paginate: { itemsPerPage: pageLimit, currentPage: p }; let i = index">
                                <td class="text-center">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-download action-item" title="Download Form" (click)="downloadFile(item.txnId)" *ngIf="commonService.hasWriteAccess(MODULES.REGISTRATION_REQUEST)"></i>
                                        <ng-container *ngIf="(commonService.getUserRoleId() == ROLES.L1 &&
                                        item.l1Status.id == PENDING) ||
                                      (commonService.getUserRoleId() == ROLES.L2 &&
                                      item.l2Status.id == PENDING) ||
                                      (commonService.getUserRoleId() == ROLES.L3 &&
                                      item.l3Status.id == PENDING)">

                                            <i class="fa fa-pencil action-item" title="Approve/Reject" (click)="openStatusUpdateModal(item, viewUpdateStatus)" *ngIf="commonService.hasWriteAccess(MODULES.REGISTRATION_REQUEST)"></i>
                                        </ng-container>
                                    </div>
                                </td>
                                <td>{{item['txnId']}}</td>
                                <td>{{item['type']['title']}}</td>
                                <td>{{item['username']}}</td>
                                <td>{{item['email']}}</td>
                                <td>{{item['overallStatus']}}</td>
                                <td>{{item['creationDate'] | date: 'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="rows.length==0 " class="no-data ">No Records Found!</div>
                    <pagination-controls *ngIf="rows.length!=0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <!-- <div class="col-12">
                <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'standard'" [headerHeight]="40" [rowHeight]="50" [scrollbarH]="true" [footerHeight]="40" [limit]="pageLimit" [reorderable]="reorderable">
                    <ngx-datatable-column name="Transaction ID" prop="txnId"></ngx-datatable-column>
                    <ngx-datatable-column name="Request Type" prop="type.title"></ngx-datatable-column>
                    <ngx-datatable-column name="Username" prop="username"></ngx-datatable-column>
                    <ngx-datatable-column name="Email Address" prop="email"></ngx-datatable-column>
                    <ngx-datatable-column name="Overall Status" prop="overallStatus"></ngx-datatable-column>
                    <ngx-datatable-column name="Request Raised On" prop="creationDate">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            {{ row.creationDate | date: "dd-MM-yyyy HH:mm:ss" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Uploaded Docs">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <a class="download-link" (click)="downloadFile(row.txnId)"><i class="fa fa-download"
                  aria-hidden="true"></i> Download
                Form</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [sortable]="false" name="Actions">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

                            <a class="action-link" #viewBtn (click)="
                  viewRequestDetailsModal(row, showRequestDetails, viewBtn)
                ">
                                <i class="fa fa-eye action-item" title="View"></i>
                            </a>
                            <span *ngIf="
                  (commonService.getUserRoleId() == ROLES.L1 &&
                    row.l1Status.id == PENDING) ||
                  (commonService.getUserRoleId() == ROLES.L2 &&
                    row.l2Status.id == PENDING) ||
                  (commonService.getUserRoleId() == ROLES.L3 &&
                    row.l3Status.id == PENDING)
                ">
                <a class="action-link" *ngIf="
                    commonService.hasWriteAccess(MODULES.REGISTRATION_REQUEST)
                  " #statusBtn (click)="
                    openStatusUpdateModal(row, viewUpdateStatus, statusBtn)
                  ">
                  <i class="fa fa-pencil action-item" title="Approve/Reject"></i>
                </a>
              </span>
                            <span *ngIf="
                  (commonService.getUserRoleId() == ROLES.L1 &&
                    row.l1Status.id != PENDING) ||
                  (commonService.getUserRoleId() == ROLES.L2 &&
                    row.l2Status.id != PENDING) ||
                  (commonService.getUserRoleId() == ROLES.L3 &&
                    row.l3Status.id != PENDING)
                ">
                <a class="disabled-link" *ngIf="
                    commonService.hasWriteAccess(MODULES.REGISTRATION_REQUEST)
                  ">
                  <i class="fa fa-pencil action-item" title="Approve/Reject"></i>
                </a>
              </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div> -->
        </div>
    </div>
</div>

<ng-template #showRequestDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Request Details</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <!-- btn-link  -->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sub-title">User Information</div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="heading">Request ID </label>
                                <div>
                                    {{ selectedRequest.txnId }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="heading">Request Type </label>
                                <div>
                                    {{ selectedRequest.type["title"] }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="heading">Username </label>
                                <div>
                                    {{ selectedRequest.username }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="heading">Email</label>
                                <div>
                                    {{ selectedRequest.email }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label class="heading">Overall Status</label>
                                <div>
                                    {{ selectedRequest.overallStatus }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label class="heading">Comments</label>
                                <div>
                                    {{ selectedRequest.comments }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="sub-title">L1 Approval Details</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Status</label>
                                        <div>
                                            {{ selectedRequest.l1Status["status"] }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l1Status['id'] != PENDING" class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Updated On</label>
                                        <div>
                                            {{ selectedRequest.l1UpdateTime | date: "dd-MM-yyyy HH:mm:ss" }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l1Status['id'] != PENDING" class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="heading">Remarks </label>
                                        <div>
                                            {{ selectedRequest.l1Remarks }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedRequest.l1Status['id'] == APPROVED" class="row">
                        <div class="col-12">
                            <div class="sub-title">L2 Approval Details</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Status</label>
                                        <div>
                                            {{ selectedRequest.l2Status["status"] }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l2Status['id'] != PENDING" class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Updated On</label>
                                        <div>
                                            {{ selectedRequest.l2UpdateTime | date: "dd-MM-yyyy HH:mm:ss" }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l2Status['id'] != PENDING" class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="heading">Remarks </label>
                                        <div>
                                            {{ selectedRequest.l2Remarks }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedRequest.l2Status['id'] == APPROVED" class="row">
                        <div class="col-12">
                            <div class="sub-title">L3 Approval Details</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Status</label>
                                        <div>
                                            {{ selectedRequest.l3Status["status"] }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l3Status['id'] != PENDING" class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label class="heading">Updated On</label>
                                        <div>
                                            {{ selectedRequest.l3UpdateTime | date: "dd-MM-yyyy HH:mm:ss" }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedRequest.l3Status['id'] != PENDING" class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label class="heading">Remarks </label>
                                        <div>
                                            {{ selectedRequest.l3Remarks }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
    </div>
</ng-template>

<ng-template #viewUpdateStatus let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span>Update User Status</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <!-- btn-link  -->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="updateStatusForm" novalidate>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>New Status <span class="required-sign">*</span></label>
                                    <div>
                                        <select class="form-control" formControlName="status" [ngClass]="{
                        'error-border':
                          isFormSubmitted &&
                          updateStatusForm.controls.status.errors
                      }">
                      <option value="" disabled selected hidden>Select</option>
                      <option value="{{ item.id }}" *ngFor="let item of statusList">{{ item.name }}</option>
                    </select>
                                        <div *ngIf="
                        isFormSubmitted &&
                        updateStatusForm.controls.status.errors
                      " class="error-wrappers">
                                            <span class="error" *ngIf="
                          isFormSubmitted &&
                          updateStatusForm.controls.status.errors.required
                        ">Required Field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label>Remarks <span class="required-sign">*</span></label>
                                    <div>
                                        <textarea rows="3" class="form-control" formControlName="remarks" [ngClass]="{
                        'error-border':
                          isFormSubmitted &&
                          updateStatusForm.controls.remarks.errors
                      }" placeholder="Remarks" maxlength="200"></textarea>
                                    </div>
                                    <div *ngIf="
                      isFormSubmitted &&
                      updateStatusForm.controls.remarks.errors
                    " class="error-wrappers">
                                        <span class="error" *ngIf="
                        isFormSubmitted &&
                        updateStatusForm.controls.remarks.errors.required
                      ">Required Field</span>
                                        <span class="error" *ngIf="
                        isFormSubmitted &&
                        updateStatusForm.controls.remarks.errors.minlength
                      ">Minimum 5 characters are required</span>
                                        <span class="error" *ngIf="
                        isFormSubmitted &&
                        updateStatusForm.controls.remarks.errors.maxlength
                      ">Maximum 200 characters are allowed</span>
                                        <span class="error" *ngIf="
                        isFormSubmitted &&
                        updateStatusForm.controls.remarks.errors.pattern
                      ">Invalid Remarks</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success rounded" (click)="updateStatus()">
      Save Changes
    </button>
        <button type="button" class="btn btn-outline-danger rounded" (click)="modal.close('Save click')">
      Close
    </button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>