<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <form [formGroup]="reportingForm" novalidate>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="sub-title">Search Criteria</div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>Start Date</label>
                        <div>
                            <input type="date" class="form-control" placeholder="Start Date" formControlName="startDate">
                            <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is required
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label>End Date</label>
                        <!-- (blur)="compareTwoDates()"  -->
                        <input type="date" class="form-control" placeholder="" formControlName="endDate">
                        <div *ngIf="reportingForm.controls.endDate.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="reportingForm.controls.endDate.errors.required">*Field is required
                            </span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL">
                    <ng-container *ngIf="commonService.getRoleId() != USER_ROLES.HOD">
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Department Name</label>
                                <div>
                                    <select class="form-control" formControlName="department">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option [value]="item.id" *ngFor="let item of departments">{{item.department}}</option>
                                    </select>
                                    <div *ngIf="reportingForm.controls.department.errors && formSubmitted" class="error-wrappers">
                                        <span class="error" *ngIf="reportingForm.controls.department.errors.required">*Field is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Channel</label>
                                <div>
                                    <select class="form-control" formControlName="channel">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option [value]="item.id" *ngFor="let item of channels">{{item.channelName}}</option>
                                    </select>
                                    <div *ngIf="reportingForm.controls.channel.errors && formSubmitted" class="error-wrappers">
                                        <span class="error" *ngIf="reportingForm.controls.channel.errors.required">*Field is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-group">
                                <label>Aggregator</label>
                                <div>
                                    <select class="form-control" formControlName="aggregator">
                                        <option value="" disabled selected hidden>Select</option>
                                        <option [value]="item.aggregatorName" *ngFor="let item of aggregators">{{item.aggregatorName}}</option>
                                    </select>
                                    <div *ngIf="reportingForm.controls.aggregator.errors && formSubmitted" class="error-wrappers">
                                        <span class="error" *ngIf="reportingForm.controls.aggregator.errors.required">*Field is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="commonService.getRoleId() != USER_ROLES.ADMIN">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label>Campaign</label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Campaign ID" formControlName="campaign">
                                        <div *ngIf="reportingForm.controls.campaign.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="reportingForm.controls.campaign.errors.required">*Field is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label>Sender ID</label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Sender ID" formControlName="sender">
                                        <div *ngIf="reportingForm.controls.sender.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="reportingForm.controls.sender.errors.required">*Field is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <div>
                                        <input type="text" class="form-control" placeholder="User Name" formControlName="user">
                                        <div *ngIf="reportingForm.controls.user.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="reportingForm.controls.user.errors.required">*Field is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!-- <div class="col-12 mt-3 d-flex justify-content-center">
                    <strong class="mr-4">Group By :</strong>
                    <label class="radio-wrap mr-4">Sender ID
                        <input id="Option1" value="senderId" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                    <label class="radio-wrap mr-4">Department Name
                        <input id="Option1" value="department" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                    <label class="radio-wrap mr-4">Date
                        <input id="Option3" value="date" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                    <label class="radio-wrap">Aggregator
                        <input id="Option4" value="aggregator" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                    <label class="radio-wrap">User Name
                        <input id="Option4" value="username" type="radio" formControlName="groupBy">
                        <span class="radio-mark"></span>
                    </label>
                </div> -->
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="submitForm()">View Report</button>
            <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="reportingForm.reset(); initializeForm()">Reset</button> -->
            <!-- <button class="btn btn-red-light bt-fix  mb-2" (click)="exportAsXLSX()" [disabled]="reportList.length == 0">Export excel</button> -->
            <div class="dropdown">
                <button class="btn btn-blue-light bt-fix  mb-2" type="button" data-toggle="dropdown">Export As
                    <!-- [disabled]="reportList.length == 0" -->
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" (click)="exportAs('excel')">EXCEL</li>
                    <li class="dropdown-item" (click)="exportAs('csv')">CSV</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-between mb-2 mt-2">
            <div class="col-12">
                <div class="sub-title"></div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm search-table-outter">
                        <thead class="thead-sb">
                            <tr>
                                <th (click)="dateSorted = !dateSorted; sortTable('date', dateSorted)" class="sort-th">Submitted On
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="channelSorted = !channelSorted; sortTable('campaignId', channelSorted, true)" class="sort-th">Chanel
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="campaignIdSorted = !campaignIdSorted; sortTable('campaignId', campaignIdSorted, true)" class="sort-th">Campaign ID
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="campaignNameSorted = !campaignNameSorted; sortTable('campaignName', campaignNameSorted)" class="sort-th">Campaign Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL && commonService.getRoleId() != USER_ROLES.HOD" (click)="departmentSorted = !departmentSorted; sortTable('department', departmentSorted)"
                                    class="sort-th">Department Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL" (click)="usernameSorted = !usernameSorted; sortTable('username', usernameSorted)"
                                    class="sort-th">Department User
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL && commonService.getRoleId() != USER_ROLES.HOD" (click)="aggregatorSorted = !aggregatorSorted; sortTable('aggregator', aggregatorSorted)"
                                    class="sort-th">Aggregator Name
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="senderIdSorted = !senderIdSorted; sortTable('senderId', senderIdSorted)" class="sort-th">Sender CLI
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="prioritySorted = !prioritySorted; sortTable('categoryId', prioritySorted, true)" class="sort-th">Priority
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="totalCountSorted = !totalCountSorted; sortTable('countTotal', totalCountSorted, true)" class="sort-th">Total SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="deliveredCountSorted = !deliveredCountSorted; sortTable('countDelivered', deliveredCountSorted, true)" class="sort-th">Successful SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="failedCountSorted = !failedCountSorted; sortTable('countRetried', failedCountSorted, true)" class="sort-th">SMS Retried
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="countRetriedSorted = !countRetriedSorted; sortTable('countSubmitfail', countRetriedSorted, true)" class="sort-th">Failed SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="expiredCountSorted = !expiredCountSorted; sortTable('countExpired', expiredCountSorted, true)" class="sort-th">Delivery Expired
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="invalidCountSorted = !invalidCountSorted; sortTable('countFailed', invalidCountSorted, true)" class="sort-th">Invalid SMS
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                                <th (click)="dndCountSorted = !dndCountSorted; sortTable('countDnd', dndCountSorted, true)" class="sort-th">DND Count
                                    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reportList |
                             searchFilter: { senderId : searchText, department: searchText, aggregator: searchText,
                                username:  searchText} | 
                             paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td>{{item['date'] | date:'yyyy-MM-dd'}}</td>
                                <td>{{item['campaignId'] == 0 ? 'API' : 'Bulk'}}</td>
                                <td>{{item['campaignId']}}</td>
                                <td>{{item['campaignName']}}</td>
                                <<<<<<< HEAD <td *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL && commonService.getRoleId() != USER_ROLES.HOD">{{item['department']}}</td>
                                    <td *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL">{{item['username']}}</td>
                                    <td *ngIf="commonService.getRoleId() != USER_ROLES.FUNCTIONAL && commonService.getRoleId() != USER_ROLES.HOD">{{item['aggregator']}}</td>
                                    =======
                                    <td *ngIf="commonService.getGroupBy('summary').user != 'functional' && commonService.getGroupBy('summary').user != 'hod'">{{item['department']}}</td>
                                    <td *ngIf="commonService.getGroupBy('summary').user != 'functional'">{{item['username']}}</td>
                                    <td *ngIf="commonService.getGroupBy('summary').user != 'functional' && commonService.getGroupBy('summary').user != 'hod'">{{item['aggregator']}}</td>
                                    >>>>>>> summary report
                                    <td>{{item['senderId']}}</td>
                                    <td>{{item['categoryId']}}</td>
                                    <td>{{item['countTotal']}}</td>
                                    <td>{{item['countDelivered']}}</td>
                                    <<<<<<< HEAD <td>{{item['countRetried']}}</td>
                                        ======= >>>>>>> summary report
                                        <td>{{item['countSubmitfail']}}</td>
                                        <td>{{item['countExpired']}}</td>
                                        <td>{{item['countFailed']}}</td>
                                        <td>{{item['countDnd']}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="reportList.length==0" class="no-data ">No Records Found</div>
                    <pagination-controls *ngIf="reportList.length>0" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>