<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Manage SMS Template</span>
            </nav>
        </div>
    </div>
</div>

<section class="right-panel-wrapper">
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.SMS_TEMPLATE)">
            <a class="nav-link" routerLink="/main/manage-sms-template/approved-sms-template" routerLinkActive="active ">View SMS Template</a>
        </li>
        <li class="nav-item " *ngIf="commonService.hasWriteAccess(MODULES.SMS_TEMPLATE)">
            <a class="nav-link " routerLink="/main/manage-sms-template/create-sms-template" routerLinkActive="active ">Create SMS Template</a>
        </li>
        <!-- <li class="nav-item " *ngIf="commonService.hasReadAccess(MODULES.SMS_TEMPLATE_APPROVAL)>
            <a class="nav-link " routerLink="/main/manage-sms-template/template-pending " routerLinkActive="active ">Template Pending for Approval</a>
        </li> -->
        <li class="nav-item " *ngIf="commonService.hasReadAccess(MODULES.SMS_TEMPLATE_BULK_UPLOAD)">
            <a class=" nav-link " routerLink="/main/manage-sms-template/bulk-upload-template" routerLinkActive="active "> Bulk Upload SMS Template</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</section>