.collapse-wrap.collapsing {
  height: inherit!important;
  overflow: unset;
}

.collapse-wrap.show{

  width: 240px;

  transition: width ease-out 100ms;
}
.collapse-wrap{

  display: block !important;
  width: 60px;
  transition: width ease-out 100ms;

}

.sidebar {
  display: block;
  background: #0C376A;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  color: #cecece;
}




.navbar-nav {
  width: 100%;
  max-width: 270px;

  li {
    width: 100%;
    cursor: pointer;
    min-width: 230px;

    ul{
      background: lighten(#0C376A, 8%);
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      min-height: 45px;
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
      padding-right: 10px;
      line-height: 45px;
      white-space: nowrap;
  span.l-icons{
        margin-left: 15px;
        margin-right: 20px;
        width: 30px;
        min-width: 30px;
        text-align: center;
    // img{
    //       max-width: 24px;
    //     }
      }
      i.fa{
        margin-left: auto;
        margin-right: 5px;
      }

    }


  }

}




.sidebar ul.nav li a[aria-expanded="true"] i {
  transform: rotate(90deg);
  transition: transform ease-in-out 50ms;
}

.sidebar ul.nav li a[aria-expanded="false"] i {

  transition: transform ease-in-out 100ms;
}


.sidebar .active{


  background: lighten(#0C376A, 10%);

  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

}


.sidebar a[aria-expanded="true"]{

  background: lighten(#0C376A, 15%);

}


::ng-deep {
  .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: lighten(#43B8E5,10%);
    opacity: 0.9;
  }


  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 10px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
  }

  .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: darken(#167CA4,2%);
    width: 8px;
  }
  .ps__thumb-y {
    width: 8px;
    right: 2px;
    background-color: darken(#167CA4,2%);
  }
  .ps__rail-x{
    display: none !important;
  }
}
