header.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  height: 70px;
}

.navbar-toggler {
  color: #fff;
  background: #00B5EF;
  width: 60px;
  min-width: 60px;
  border-radius: 0px;
  outline: 0px;
  box-shadow: none!important;
  i {
    transition: transform ease-in 200ms;
  }
}

.logo-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  img {

    max-width: 92px;
  }
}

.profile-wrapper {
  font-size: 16px;
  img {
    margin-right: 5px;
    // width: 40px;
    // border-radius: 50%;
    // border: 2px solid #fff;
    // -webkit-box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
    // box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
  }
  span {
    text-transform: capitalize;
  }
}

.navbar-toggler[aria-expanded=true] {
  i {
    transform: rotate(180deg);
    transition: transform ease-in 200ms;
  }
}

.log-out {
  padding: 0px 10px;
  font-size: 18px;
  cursor: pointer;
}
