<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <div id="stepper1" class="bs-stepper">
                    <div class="bs-stepper-header">
                        <div class="step" data-target="#test-l-1">
                            <a>
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Personal</span>
                            </a>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#test-l-2">
                            <a>
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Configuration</span>
                            </a>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#test-l-3">
                            <a>
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Authorization</span>
                            </a>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <form [formGroup]="mainForm" novalidate>
                            <div id="test-l-1" class="content" formGroupName="personalInfo">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="sub-title">Personal Information</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">

                                        <div class="form-group">
                                            <label>First Name <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name" maxlength="50" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.firstName.errors}">
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.firstName.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.firstName.errors.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.firstName.errors.minlength">Minimum
                            length is 3 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.firstName.errors.maxlength">Maximum
                            length is 50 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.firstName.errors.pattern">Only
                            alphabets allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Last Name <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name" maxlength="50" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.lastName.errors}">
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.lastName.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.lastName.errors.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.lastName.errors.maxlength">Maximum
                            length is 50 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.lastName.errors.pattern">Only
                            alphabets allowed</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Username<span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="userName" placeholder="Enter username" maxlength="50" [ngClass]="{'error-border': (stepOne.formSubmitted && personalInfoForm.userName.errors) || !isUniqueUsername}">
                                                <div *ngIf="(stepOne.formSubmitted && personalInfoForm.userName.errors) || !isUniqueUsername" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.userName.errors?.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.userName.errors?.minlength">Minimum
                            length is 5 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.userName.errors?.maxlength">Maximum
                            length is 50 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.userName.errors?.pattern">Only
                            alpha-numeric characters allowed</span>
                                                    <span class="error" *ngIf="!isUniqueUsername">Already exists</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Primary Email Address<span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="emailAddress" placeholder="Enter Email Address" maxlength="50" [ngClass]="{'error-border': (stepOne.formSubmitted && personalInfoForm.emailAddress.errors) || !isUniqueEmailAddress}">
                                                <div *ngIf="(stepOne.formSubmitted && personalInfoForm.emailAddress.errors) || !isUniqueEmailAddress" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.emailAddress.errors?.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.emailAddress.errors?.pattern">Invalid
                            Primary Email Address
                          </span>
                                                    <span class="error" *ngIf="!isUniqueEmailAddress">Already exists
                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Alternate Email Address</label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="alternativeEmailAddress" placeholder="Enter alternative email address" maxlength="50" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.alternativeEmailAddress.errors ||  mainForm.controls.personalInfo.errors?.emailAddressMatched}">
                                                <div *ngIf="stepOne.formSubmitted && (personalInfoForm.alternativeEmailAddress.errors || mainForm.controls.personalInfo.errors?.emailAddressMatched)" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.alternativeEmailAddress.errors?.pattern">
                            Invalid Alternative Email Address
                          </span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && mainForm.controls.personalInfo.errors?.emailAddressMatched">
                            Alternative email address cannot be same as primary email address
                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Mobile Number <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Enter mobile number" maxlength="10" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.mobileNumber.errors}">
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.mobileNumber.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.mobileNumber.errors.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.mobileNumber.errors.minlength">Minimum
                            length is 10 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.mobileNumber.errors.maxlength">Maximum
                            length is 10 characters</span>
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.mobileNumber.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Role ID <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="role" (change)="roleChanged()" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.role.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of roleList">{{item.name}}
                            ({{item.description}})</option>
                        </select>
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.role.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.role.errors.required">Required
                            field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Department <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="department" (change)="departmentChanged()" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.department.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of departmentList">{{item.department}}</option>
                        </select>
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.department.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.department.errors.required">Required
                            Field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Approver <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="approver" [ngClass]="{'error-border': stepOne.formSubmitted && personalInfoForm.approver.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.approverId}}" *ngFor="let item of approverList">{{item.approverName}}
                          </option>
                        </select>
                                                <div *ngIf="stepOne.formSubmitted && personalInfoForm.approver.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepOne.formSubmitted && personalInfoForm.approver.errors.required">Required
                            field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-4"> <button (click)="next()" class="btn btn-blue-light bt-fix mb-2">Next</button></div>
                            </div>
                            <div id="test-l-2" class="content" formGroupName="configuration">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sub-title">Configuration Information</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Category ID <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="category" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.category.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of categoryList">{{item.category}}</option>
                        </select>
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.category.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.category.errors.required">Required
                            Field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Channel <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="channel" (change)="channelChanged(configurationForm.channel.value)" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.channel.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of channelList">{{item.channelName}}</option>
                        </select>
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.channel.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.channel.errors.required">Required
                            Field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>TPS <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="tps" placeholder="Enter TPS" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.tps.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.tps.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.tps.errors.required">Required
                            field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.tps.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Long Message Support :</span> <label class="switch">
                          <input type="checkbox" formControlName="longMessageSupportFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Unicode Support :</span> <label class="switch">
                          <input type="checkbox" formControlName="unicodeMessageSupportFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Duplicate Check :</span> <label class="switch">
                          <input type="checkbox" formControlName="duplicateCheckFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Template Check :</span> <label class="switch">
                          <input type="checkbox" formControlName="templateCheckFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">International Route Allowed :</span> <label class="switch">
                          <input type="checkbox" formControlName="internationalRouteFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Template Approval Check :</span> <label class="switch">
                          <input type="checkbox" formControlName="templateApprovalCheckFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Sender ID Check :</span> <label class="switch">
                          <input type="checkbox" formControlName="senderIdCheckFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">Sender ID Approval Check :</span> <label class="switch">
                          <input type="checkbox" formControlName="senderIdApprovalFlag">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                            <div class="switch-wrapper">
                                                <span class="sw-label">DLR Report Request :</span> <label class="switch">
                          <input type="checkbox" formControlName="DLRReportRequestFlag"
                            (change)="configurationFormFlagChanged('DLRReportRequestFlag',['DLRCallbackQueue','DLRCallbackTopic','DLRCallbackMaxConnectionCount','DLRCallbackTopology','DLRCallbackPrimaryURL','DLRCallbackSecondaryURL'])">
                          <span class="slider"></span>
                        </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>IP White List Details</label>
                                            <div>
                                                <textarea rows="8" class="form-control" formControlName="ipWhitelist" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.ipWhitelist.errors}" placeholder="Comma Separated value"></textarea>
                                            </div>
                                            <div *ngIf="stepTwo.formSubmitted && configurationForm.ipWhitelist.errors" class="error-wrappers">
                                                <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.ipWhitelist.errors.pattern">Only
                          comma seprated IP address allowed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="configurationForm.channel.value == BULK">
                                    <div class="col-12">
                                        <div class="sub-title">Bulk Channel Parameters</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Message per part length <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxMessagePartLength_bulk" placeholder="Enter Maximum Message per part length" maxlength="2" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxMessagePartLength_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxMessagePartLength_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxMessagePartLength_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxMessagePartLength_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum File size <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxFileSize_bulk" placeholder="Enter maximum file size" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxFileSize_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxFileSize_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxFileSize_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxFileSize_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Recipient Count <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxRecipientCount_bulk" placeholder="Enter maximum recipient count" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxRecipientCount_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxRecipientCount_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxRecipientCount_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxRecipientCount_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Sender ID <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxSenderId_bulk" placeholder="Enter maximum sender id count" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxSenderId_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxSenderId_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxSenderId_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxSenderId_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Template <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxTemplate_bulk" placeholder="Enter maximum template count" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxTemplate_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxTemplate_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxTemplate_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxTemplate_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Daily Threshold Limit <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxDailyThresholdLimit_bulk" placeholder="Enter maximum daily threshold limit" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxDailyThresholdLimit_bulk.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxDailyThresholdLimit_bulk.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxDailyThresholdLimit_bulk.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxDailyThresholdLimit_bulk.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="configurationForm.channel.value == HTTP">
                                    <div class="col-12">
                                        <div class="sub-title">HTTP Channel Parameters</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Connection <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="maxHttpConnectionCount" placeholder="Enter maximum connection count" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.maxHttpConnectionCount.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.maxHttpConnectionCount.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxHttpConnectionCount.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.maxHttpConnectionCount.errors.pattern">Only
                            numbers allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="configurationForm.DLRReportRequestFlag.value">
                                    <div class="col-12">
                                        <div class="sub-title">User DLR Callback Details</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Topology <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="DLRCallbackTopology" (change)="topologyChanged(configurationForm.DLRCallbackTopology.value)" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.DLRCallbackTopology.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of topologyList">{{item.name}}</option>
                        </select>
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackTopology.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackTopology.errors.required">Required
                            Field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Primary Url <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="DLRCallbackPrimaryURL" placeholder="Enter primary url" maxlength="100" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.DLRCallbackPrimaryURL.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackPrimaryURL.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackPrimaryURL.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackPrimaryURL.errors.pattern">Invalid
                            URL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Secondary Url <span *ngIf="configurationForm.DLRCallbackTopology.value==1"
                          class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="DLRCallbackSecondaryURL" placeholder="Enter secondary url" maxlength="100" [ngClass]="{'error-border': stepTwo.formSubmitted && (configurationForm.DLRCallbackSecondaryURL.errors || mainForm.controls.configuration.errors?.DLRCallbackURLsMatched)}">
                                                <div *ngIf="stepTwo.formSubmitted && (configurationForm.DLRCallbackSecondaryURL.errors || mainForm.controls.configuration.errors?.DLRCallbackURLsMatched)" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackSecondaryURL.errors?.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackSecondaryURL.errors?.pattern">Invalid
                            URL</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && mainForm.controls.configuration.errors?.DLRCallbackURLsMatched">Secondary
                            URL cannot be same as Primary URL</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                      <label>Queue</label>
                      <div>
                        <input type="text" class="form-control" formControlName="DLRCallbackQueue" placeholder="Enter queue"
                          maxlength="100" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.DLRCallbackQueue.errors}">
                        <div *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackQueue.errors" class="error-wrappers">
                          <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackQueue.errors.pattern">Only
                            alphanumeric characters allowed</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                      <label>Topic</label>
                      <div>
                        <input type="text" class="form-control" formControlName="DLRCallbackTopic" placeholder="Enter queue"
                          maxlength="100" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.DLRCallbackTopic.errors}">
                        <div *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackTopic.errors" class="error-wrappers">
                          <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackTopic.errors.pattern">Only
                            alphanumeric characters allowed</span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Maximum Connection Count <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="DLRCallbackMaxConnectionCount" placeholder="Enter maximum connection count" maxlength="4" [ngClass]="{'error-border': stepTwo.formSubmitted && configurationForm.DLRCallbackMaxConnectionCount.errors}">
                                                <div *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackMaxConnectionCount.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackMaxConnectionCount.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepTwo.formSubmitted && configurationForm.DLRCallbackMaxConnectionCount.errors.pattern">Only
                            Numbers Allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <button (click)="previous()" class="btn btn-blue-light bt-fix  mr-5 mb-2">Previous
                  </button>
                                    <button (click)="skipConfigurationsMethod()" *ngIf="this.selectedRole['configurationFlag'] == 'N'" class="btn btn-red-light bt-fix mr-5 mb-2">Skip Configurations
                  </button>
                                    <button (click)="next()" class="btn btn-blue-light bt-fix  mb-2">Next
                  </button>
                                </div>

                            </div>
                            <div id="test-l-3" class="content" formGroupName="authorization">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sub-title">Authorization Information</div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Report Privileges <span class="required-sign">*</span></label>
                                            <div>
                                                <select class="form-control" formControlName="reportPrivileges" [ngClass]="{'error-border': stepThree.formSubmitted && authorizationForm.reportPrivileges.errors}">
                          <option value="" disabled selected hidden>Select</option>
                          <option value="{{item.id}}" *ngFor="let item of reportPrivileges">{{item.name}}</option>
                        </select>
                                                <div *ngIf="stepThree.formSubmitted && authorizationForm.reportPrivileges.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepThree.formSubmitted && authorizationForm.reportPrivileges.errors.required">Required
                            field</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Reference ID <span class="required-sign">*</span></label>
                                            <div>
                                                <input type="text" class="form-control" formControlName="transactionId" placeholder="Enter Reference ID" maxlength="10" [ngClass]="{'error-border': stepThree.formSubmitted && authorizationForm.transactionId.errors}">
                                                <div *ngIf="stepThree.formSubmitted && authorizationForm.transactionId.errors" class="error-wrappers">
                                                    <span class="error" *ngIf="stepThree.formSubmitted && authorizationForm.transactionId.errors.required">Required
                            Field</span>
                                                    <span class="error" *ngIf="stepThree.formSubmitted && authorizationForm.transactionId.errors.pattern">Only
                            Numebers Allowed</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sub-title">Access Permissions</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered  table-hover table-sm">
                                                <thead class="thead-sb">
                                                    <tr>
                                                        <th class="pc-1">S.no.</th>
                                                        <th class="pc-2">Module</th>
                                                        <th class="pc-3">Read/Write</th>
                                                        <th class="pc-3">Read Only</th>
                                                        <th class="pc-3">Hide</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of accessPermissionViewList;let i = index;'>
                                                        <td *ngIf="!item.isSubModule" class="pc-1">{{item.sno}}</td>
                                                        <td *ngIf="!item.isSubModule">{{item.view}}</td>
                                                        <td class="pc-3" *ngIf="!item.isSubModule">
                                                            <label class="checkbox-wrap">
                                <input type="radio" formControlName="{{item.formControlName}}" value="RW">
                                <span class="checkmark"></span>
                              </label>
                                                        </td>
                                                        <td class="pc-3" *ngIf="!item.isSubModule">
                                                            <label class="checkbox-wrap">
                                <input type="radio" formControlName="{{item.formControlName}}" value="R">
                                <span class="checkmark"></span>
                              </label>
                                                        </td>
                                                        <td class="pc-3" *ngIf="!item.isSubModule">
                                                            <label class="checkbox-wrap">
                                <input type="radio" (change)="modulePermissionChanged(item,'H')"
                                  formControlName="{{item.formControlName}}" value="H">
                                <span class="checkmark"></span>
                              </label>
                                                        </td>
                                                        <td colspan="5" class="p-0" *ngIf="item.isSubModule">
                                                            <table class="table table-hover table-sm m-0 ">
                                                                <tr *ngFor="let subItem of item.subModuleList">
                                                                    <td class="pci-1">{{subItem.sno}}</td>
                                                                    <td class="pci-2">{{subItem.view}}</td>
                                                                    <td class="pc-3">
                                                                        <label class="checkbox-wrap">
                                      <input type="radio" (change)="subModulePermissionChanged(item,'RW')"
                                        formControlName="{{subItem.formControlName}}" value="RW">
                                      <span class="checkmark"></span>
                                    </label>
                                                                    </td>
                                                                    <td class="pc-3">
                                                                        <label class="checkbox-wrap">
                                      <input type="radio" (change)="subModulePermissionChanged(item,'R')"
                                        formControlName="{{subItem.formControlName}}" value="R">
                                      <span class="checkmark"></span>
                                    </label>
                                                                    </td>
                                                                    <td class="pc-3">
                                                                        <label class="checkbox-wrap">
                                      <input type="radio" (change)="subModulePermissionChanged(item,'H')"
                                        formControlName="{{subItem.formControlName}}" value="H">
                                      <span class="checkmark"></span>
                                    </label>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <button (click)="previous()" class="btn btn-blue-light bt-fix  mr-3 mb-2">Previous
                  </button>
                                    <button class="btn btn-blue-light bt-fix mr-3 mb-2" [disabled]="disableSubmit" (click)="saveUser()">
                    <span *ngIf="userId==-1">Register</span><span *ngIf="userId!=-1">Update</span></button>
                                    <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2">Reset</button> -->
                                    <button class="btn btn-red-light bt-fix  mb-2" (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>