<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-lg-8 responsive-login-bg  ">
                <div class="img-div">
                    <img src="assets/images/left_img.png" alt="">
                </div>
                <div class="img-text">Appliance Based SMS Solution</div>
            </div>
            <div class="col d-flex right-wrapper">
                <div class="w-100">
                    <div class="logo-login">
                        <img class="img-fluid" src="assets/images/logo_sbi.png" alt="">
                    </div>
                    <div class="login-box">
                        <div class="login-form mx-auto">
                            <div class="login-text">Enter username to get reset password link</div>
                            <form class=" mt-2 p-0" [formGroup]="forgotPasswordForm" novalidate>
                                <div class="l-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control cus-form-control" placeholder="Username" formControlName="userName">
                                        <div *ngIf="forgotPasswordForm.controls.userName.errors && formSubmitted" class="error-wrappers">
                                            <span class="error" *ngIf="forgotPasswordForm.controls.userName.errors.required">*User ID is
                        required</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-sign-in" (click)="submitForm()">Submit</button>
                            <a class="btn btn-sign-in" [routerLink]="['/auth/login']">
                Back to Login Page
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftr">
    &copy;2019.All Rights Reserved SBI
</footer>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>