.login {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-wrapper {
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

.login-box {
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    width: 100%;
    max-width: 850px;
    max-height: 500px;
    overflow-y: hidden;
    border-radius: 30px;
}

.img-div {
    text-align: center;
    padding: 0;
}

.img-div img {
    width: 100%;
    max-width: 700px;
}

.login-form {
    width: 85%;
    padding: 20px 0px;
}

.logo-login {
    text-align: center;
    margin-bottom: 25px;
}

.logo-login span {
    color: #ffffff;
    font-size: 24px;
}

.l-form {
    width: 100%;
    margin: 0px auto;
}

.cus-form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    padding: 2px 0px;
    font-size: 14px;
    margin-bottom: 15px;
}

.forgot-pwd p {
    text-align: right;
    font-size: 14px;
    color: #a0a0a0;
}

.forgot-pwd p a {
    color: #a0a0a0;
    text-decoration: underline;
}

.btn-sign-in {
    color: #fff;
    background: #00B5EF;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    padding: 7px;
    margin: 10px auto;
    display: block;
    width: 100%;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.login-text {
    color: #00B5EF;
    border-bottom: 2px solid #00B5EF;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.responsive-login-bg {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img-text {
    color: #0C376A;
    font-size: 20px;
    margin: 20px;
}

@media (max-width:767px) {
    .responsive-login-bg {
        display: none;
    }
}