<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Dashboard</span>
            </nav>
        </div>
    </div>
</div>

<section class="right-panel-wrapper">
    <div class="container-fluid">
        <!-- Filter Tile -->
        <!-- <div class="col-12 filter-bg bg-grey">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>Start Date</label>
            <div>
              <input type="date" class="form-control" placeholder="Start Date" formControlName="startDate">
              <div *ngIf="reportingForm.controls.startDate.errors && formSubmitted" class="error-wrappers">
                <span class="error" *ngIf="reportingForm.controls.startDate.errors.required">*Field is required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label>End Date</label>
            <div>
              <input type="date" class="form-control" placeholder="End Date" formControlName="endDate">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-center mt-3">
          <button class="btn btn-blue-light bt-fix">Submit</button>
        </div>
      </div>
    </div> -->

        <!-- ROW First of tiles -->
        <h6>
            <b>Campaign Traffic</b>
        </h6>
        <div class="row">
            <div class="col pr-0">
                <div class="dash-card bg-1 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Total Campaigns</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="campaignBulkTrafficList">
                            {{totalCampTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <div class="dash-card bg-2 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Total SMS Sent</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="campaignBulkTrafficList">
                            {{totalSMSCampTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <div class="dash-card bg-3 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Success SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="campaignBulkTrafficList">
                            {{successSMSCampTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <div class="dash-card bg-4 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Fail SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="campaignBulkTrafficList">
                            {{failedSMSCampTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-card bg-5 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Pending SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="campaignBulkTrafficList">
                            {{pendingSMSCampTile}} </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW second of tiles -->
        <h6>
            <b>API Traffic</b>
        </h6>
        <div class="row">
            <div class="col pr-0">
                <div class="dash-card bg-6 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Total SMS Sent</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="apiTrafficList">
                            {{totalSMSTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <div class="dash-card bg-7 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Success SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="apiTrafficList">
                            {{successSMSTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col pr-0">
                <div class="dash-card bg-1 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Pending SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="apiTrafficList">
                            {{pendingSMSTile}} </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="dash-card bg-9 py-2">
                    <div class="dr-1 row">
                        <div class="col-7 dr-left">
                            <span>Fail SMS</span>
                        </div>
                        <div class="col-5 dr-right" *ngIf="apiTrafficList">
                            {{failedSMSTile}} </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Campaign Information Row 3 -->
        <div class=" filter-bg bg-grey mb-3" *ngFor="let item of campaignBoardList">
            <div>Bulk Traffic</div>
            <div class="row no-gutters">
                <div class="col-md-3">
                    <div class="row no-gutters">
                        <div class="col-md-7">
                            Campaign Name -
                        </div>
                        <div class="col-md-5">
                            {{item.campaignName | titlecase}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 pr-0">
                    <div class="filter-bg bg-white">
                        <h6>
                            <b>Hourly TPS Graph </b>
                        </h6>
                        <div style="display: block;">
                            <canvas baseChart height="306" [datasets]=item.lineChart [colors]="campaignWiseColors" [labels]=item.hours [options]="campaignWiseOptions"
                                [legend]="campaignWiseLegend" [chartType]="campaignWiseType"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="filter-bg bg-white">
                                <h6>
                                    <b>Campaign Info</b>
                                </h6>
                                <ul class="list-unstyled map-content">
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Department Name</b>
                                        </li>
                                        <li class="col-sm-5 blueTextClr">
                                            <b>{{item.departmentName}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Department Used</b>
                                        </li>
                                        <li class="col-sm-5 pinkTextClr">
                                            <b>{{item.departmentUser}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Start Time</b>
                                        </li>
                                        <li class="col-sm-5 greenTextClr">
                                            <b>{{item.startTime | date: 'dd/MM/yyyy'}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>End Time</b>
                                        </li>
                                        <li class="col-sm-5 redTextClr">
                                            <b>{{item.endTime | date: 'dd/MM/yyyy'}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Total SMS Count</b>
                                        </li>
                                        <li class="col-sm-5 orangeTextClr">
                                            <b>{{item.totalSmsCount}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>DND Count</b>
                                        </li>
                                        <li class="col-sm-5 purpleTextClr">
                                            <b>{{item.dndCount}}</b>
                                        </li>
                                    </div>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="filter-bg bg-white">
                                <h6>
                                    <b>SMS Count Data</b>
                                </h6>
                                <ul class="list-unstyled map-content">
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>SMS Sent</b>
                                        </li>
                                        <li class="col-sm-5 blueTextClr">
                                            <b>{{item.smsSent}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Success</b>
                                        </li>
                                        <li class="col-sm-5 pinkTextClr">
                                            <b>{{item.smsSuccess}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Fail</b>
                                        </li>
                                        <li class="col-sm-5 greenTextClr">
                                            <b>{{item.smsFailed}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Pending</b>
                                        </li>
                                        <li class="col-sm-5 redTextClr">
                                            <b>{{item.smsPending}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Current TPS</b>
                                        </li>
                                        <li class="col-sm-5 orangeTextClr">
                                            <b>{{item.currentTps}}</b>
                                        </li>
                                    </div>
                                    <div class="row">
                                        <li class="col-sm-7">
                                            <b>Maximum TPS</b>
                                        </li>
                                        <li class="col-sm-5 purpleTextClr">
                                            <b>{{item.maxTps}}</b>
                                        </li>
                                    </div>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" filter-bg bg-grey mb-3 d-flex justify-content-center" *ngIf="campaignBoardList.length==0">
            No Data Found
        </div>
        <!-- API traffic -->
        <div *ngIf="deptApiTrafficList.length>0">
            <div class=" filter-bg bg-grey mb-3" *ngFor="let item of deptApiTrafficList">
                <div>API Traffic</div>
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <div class="row no-gutters">
                            <div class="col-md-7">
                                Department Name -
                            </div>
                            <div class="col-md-5">
                                {{item.deptName | titlecase}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-0">
                        <div class="filter-bg bg-white ">
                            <h6>
                                <b>User Wise SMS Status</b>
                            </h6>
                            <div style="display: block">
                                <canvas baseChart height="300" [datasets]=item.barChart [labels]=item.users [options]="userwiseSMSOptions" [legend]="userwiseSMSLegend"
                                    [chartType]="userwiseSMSType" [colors]="userwiseSMSColors">
                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="filter-bg bg-white">
                            <h6>
                                <b>User Wise Hourly TPS </b>
                            </h6>
                            <div style="display: block">
                                <canvas baseChart height="300" [datasets]=item.lineChart [colors]="lineChartColors" [labels]=item.hours [options]="lineChartOptions"
                                    [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" filter-bg bg-grey mb-3 d-flex justify-content-center" *ngIf="deptApiTrafficList.length==0">
            No Data Found
        </div>


        <!-- Row 4th -->
        <div class=" filter-bg bg-grey mb-3 d-flex justify-content-center" *ngIf="generalDataList.length==0">
            No Data Found
        </div>
        <div class="filter-bg bg-grey mb-3" *ngIf="generalDataList">
            <div class="row">
                <div class="col-md-5 pr-0">
                    <div class="filter-bg bg-white">
                        <div class="row">
                            <div class="col">
                                <div class="dash-card bg-1 py-2">
                                    <div class="dr-1 row">
                                        <div class="col-7 dr-left">
                                            <span>Total Department</span>
                                        </div>
                                        <div class="col-5 dr-right">
                                            {{generalDataList.totalDepartment}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dash-card bg-3 py-2">
                                    <div class="dr-1 row">
                                        <div class="col-7 dr-left">
                                            <span>Total Aggrigators</span>
                                        </div>
                                        <div class="col-5 dr-right">
                                            {{generalDataList.totalAggregatorRegistred}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="dash-card bg-2 py-2">
                                    <div class="dr-1 row">
                                        <div class="col-7 dr-left">
                                            <span>Total API Users</span>
                                        </div>
                                        <div class="col-5 dr-right">
                                            {{generalDataList.totalApiUsers}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dash-card bg-4 py-2">
                                    <div class="dr-1 row">
                                        <div class="col-7 dr-left">
                                            <span>Total Bulk User</span>
                                        </div>
                                        <div class="col-5 dr-right">
                                            {{generalDataList.totalBulkUser}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pr-0">
                    <div class="filter-bg bg-white deptWiseScroll">
                        <h6>
                            <b>Department Wise Users </b>
                        </h6>
                        <ul class="list-unstyled map-content" *ngIf="generalDataList['departmentWiseUserCount']">
                            <div class="row" *ngFor="let item of generalDataList['departmentWiseUserCount']">
                                <li class="col-sm-7">
                                    <b>{{item.departmentName | titlecase}}</b>
                                </li>
                                <li class="col-sm-5 blueTextClr">
                                    <b>{{item.totalUsers}}</b>
                                </li>
                            </div>
                        </ul>
                        <div class=" d-flex justify-content-center" *ngIf="!generalDataList['departmentWiseUserCount']">
                            No Data Found
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter-bg bg-white deptWiseScroll">
                        <h6>
                            <b>Success & Failure Rate </b>
                        </h6>
                        <div style="display: block" *ngIf="generalDataList['campaignSuccessPercent'] != 0.0 && generalDataList['campaignFailurePercent'] !=0.0 ">
                            <canvas *ngIf="pieChartData" baseChart height="204" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                                [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                            </canvas>
                        </div>
                        <div class="d-flex justify-content-center" *ngIf="generalDataList['campaignSuccessPercent'] == 0.0 && generalDataList['campaignFailurePercent'] == 0.0">
                            No Data Found
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Last Tables -->
        <div class=" row ">
            <div class="col-12 ">
                <div class="table-responsive" *ngIf="userWiseTrafficList">
                    <table class="table table-bordered table-striped table-hover table-sm ">
                        <thead class="thead-sb ">
                            <tr>
                                <th> Channel</th>
                                <th> Dept Name</th>
                                <th> Dept User Name</th>
                                <th> Status</th>
                                <th> Sender CLI</th>
                                <th> Total SMS</th>
                                <th> Successful SMS</th>
                                <th> Failed SMS</th>
                                <th> SMS Retried</th>
                                <th> Delivery Expired</th>
                                <th> Invalid SMS</th>
                                <th> DND Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userWiseTrafficList">
                                <td> {{item.channel}}</td>
                                <td> {{item.department}}</td>
                                <td> {{item.userName}}</td>
                                <td> {{item.status}}</td>
                                <td> {{item.senderId}}</td>
                                <td> {{item.totalSms}}</td>
                                <td> {{item.successfulSms}}</td>
                                <td> {{item.failedSms}}</td>
                                <td> {{item.retiredSms}}</td>
                                <td> {{item.deliveryExpired}}</td>
                                <td> {{item.invalidSms}}</td>
                                <td> {{item.dndSms}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!userWiseTrafficList" class="d-flex justify-content-center filter-bg bg-grey mb-3">
                    No Data Found
                </div>
            </div>
        </div>
    </div>
</section>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>




<!-- </div> -->
<!-- <div class="row ">
      <div class="col-12 col-md-6 col-lg-3 ">
        <div class="dash-card bg-1 ">
          <div class="dr-1 row ">
            <div class="col-7 dr-left ">
              <span>278</span>
              Registered Users
            </div>
            <div class="col-5 dr-right ">
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </div>
          </div>
          <div class="dr-link ">
            <a>More Info
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 ">
        <div class="dash-card bg-2 ">
          <div class="dr-1 row ">
            <div class="col-7 dr-left ">
              <span>278</span>
              Registered Users
            </div>
            <div class="col-5 dr-right ">
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </div>
          </div>
          <div class="dr-link ">
            <a>More Info
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 ">
        <div class="dash-card bg-3 ">
          <div class="dr-1 row ">
            <div class="col-7 dr-left ">
              <span>278</span>
              Registered Users
            </div>
            <div class="col-5 dr-right ">
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </div>
          </div>
          <div class="dr-link ">
            <a>More Info
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 ">
        <div class="dash-card bg-4 ">
          <div class="dr-1 row ">
            <div class="col-7 dr-left ">
              <span>278</span>
              Registered Users
            </div>
            <div class="col-5 dr-right ">
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </div>
          </div>
          <div class="dr-link ">
            <a>More Info
              <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="row ">
      <div class="col-12 ">
        <img class="w-100 " src="../../../assets/images/graph.png " alt=" ">
      </div>
    </div>

    <div class="row justify-content-between mb-2 ">
      <div class="col-4 ">
        <div class="form-group mb-0 ">


          <input type="search " class="form-control " placeholder="Search ">


        </div>
      </div>
      <div class="col-3 form-inline d-flex justify-content-end ">
        <div class="form-group ">
          <label class="mr-3 ">Records Per Page</label>
          <div>
            <select class="form-control ">

              <option value=1>10</option>
              <option value=2>20</option>
            </select>

          </div>
        </div>
      </div>
    </div>
    <div class="row ">

      <div class="col-12 ">
        <div class="table-responsive ">

          <table class="table table-bordered table-striped table-hover table-sm ">
            <thead class="thead-sb ">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th class="text-center ">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td class="text-center ">
                  <div class="btn-group btn-group-sm ">
                    <button type="button " class="btn ">
                      <i class="fa fa-trash "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-pencil "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-times "></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td class="text-center ">
                  <div class="btn-group btn-group-sm ">
                    <button type="button " class="btn ">
                      <i class="fa fa-trash "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-pencil "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-times "></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td class="text-center ">
                  <div class="btn-group btn-group-sm ">
                    <button type="button " class="btn ">
                      <i class="fa fa-trash "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-pencil "></i>
                    </button>
                    <button type="button " class="btn ">
                      <i class="fa fa-times "></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->