<div class="content-wrapper">
    <form class="form-t1" [formGroup]="addressBookForm" novalidate>
        <div class="container-fluid form-t1">
            <!-- <div class="col-12">
                <div class="sub-title">Create New Address Book</div>
            </div> -->
            <div class="col-6 mt-2">
                <!--  d-flex -->
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Type of Contacts :</label>
                        <!--mr-4-->
                    </div>
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp3" name="addressBookType" value="N" type="radio" formControlName="addressBookType"
                                (change)="contactTypeChanged( $event.target.checked)">Number
                        </label>
                    </div>
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp4" name="addressBookType" value="P" type="radio" formControlName="addressBookType"
                                (change)="contactTypeChanged( $event.target.checked)">Personalized
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-2">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Type of Upload :</label>
                        <!--mr-4-->
                    </div>
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp3" name="uploadType" value="1" type="radio" formControlName="uploadType" (change)="uploadTypeChanged( $event.target.checked)"
                                (change)="contactTypeChanged( $event.target.checked)">Create Manually
                        </label>
                    </div>
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp4" name="uploadType" value="2" type="radio" formControlName="uploadType" (change)="uploadTypeChanged( $event.target.checked)">File Upload
                        </label>
                    </div>
                </div>
            </div>
            <!-- FOR NUMBER FILE -->
            <ng-container *ngIf="getForm.uploadType.value == '1' && getForm.addressBookType.value == 'N'  ">
                <ng-container formArrayName="records" *ngFor="let record of addressBookForm.get('records').controls; let i = index;">
                    <div class="col-md-12">
                        <i class="fa fa-trash delete-icon" title="Delete" (click)="deleteRecord(i)" *ngIf="addressBookForm.get('records').controls.length > 1"></i>
                        <ng-container [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-3">
                                    <!--col-lg-4 col-md-6-->
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <div>
                                            <input type="text" class="form-control" placeholder="Phone Number" formControlName="mobileNumber" maxlength="10" (keypress)="commonService.isNumber($event)"
                                                [ngClass]="{'error-border': formSubmitted && record.controls['mobileNumber'].errors}">
                                            <div *ngIf="record.controls['mobileNumber'].errors && formSubmitted" class="error-wrappers">
                                                <span class="error" *ngIf="record.controls['mobileNumber'].errors.required">*Field is required</span>
                                                <span class="error" *ngIf="record.controls['mobileNumber'].errors.minlength || record.controls['mobileNumber'].errors.maxlength">*Mobile number must be of 10 digits</span>
                                                <span class="error" *ngIf="record.controls['mobileNumber'].errors.pattern">*Invalid mobile number</span>
                                            </div>
                                            <!-- <div *ngIf="hasDuplicateNum" class="error-wrappers">
                                                <span class="error">Enter unique mobile number
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="d-flex col-12  mb-4" *ngIf="addressBookForm.get('records').controls.length < 10">
                    <button class="btn btn-blue-light bt-fix mr-3" (click)="addNewRecord()">Add</button>
                </div>
            </ng-container>
            <!-- FOR PERSONALIZED DATA -->
            <ng-container *ngIf="getForm.uploadType.value == '1'&& getForm.addressBookType.value == 'P' ">
                <ng-container formArrayName="records" *ngFor="let record of addressBookForm.get('records').controls; let i = index;">
                    <div class="col-md-12 mb-4">
                        <div class="card record-card p-3 mt-1">
                            <i class="fa fa-trash delete-icon" title="Delete" (click)="deleteRecord(i)" *ngIf="addressBookForm.get('records').controls.length > 1"></i>
                            <ng-container [formGroupName]="i">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!--col-lg-4 col-md-6-->
                                        <div class="form-group">
                                            <label>Mobile Number</label>
                                            <div>
                                                <input type="text" class="form-control" placeholder="Phone Number" formControlName="mobileNumber" maxlength="10" (keypress)="commonService.isNumber($event)"
                                                    [ngClass]="{'error-border': formSubmitted && record.controls['mobileNumber'].errors}">
                                                <div *ngIf="record.controls['mobileNumber'].errors && formSubmitted" class="error-wrappers">
                                                    <span class="error" *ngIf="record.controls['mobileNumber'].errors.required">*Field is required</span>
                                                    <span class="error" *ngIf="record.controls['mobileNumber'].errors.minlength || record.controls['mobileNumber'].errors.maxlength">*Mobile number must be of 10 digits</span>
                                                    <span class="error" *ngIf="record.controls['mobileNumber'].errors?.unique">*fkudhudhgjdhjk</span>
                                                </div>
                                                <!-- <div *ngIf="hasDuplicateNum" class="error-wrappers">
                                                    <span class="error">Invalid File
                                                    </span>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="getForm.addressBookType.value == 'P'">
                                        <div class="col-md-4">
                                            <!--col-lg-4 col-md-6-->
                                            <div class="form-group">
                                                <label>Name</label>
                                                <div>
                                                    <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'error-border': formSubmitted && record.controls['name'].errors}">
                                                    <div *ngIf="record.controls['name'].errors && formSubmitted" class="error-wrappers">
                                                        <span class="error" *ngIf="record.controls['name'].errors.required">*Field is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <!--col-lg-4 col-md-6-->
                                            <div class="form-group">
                                                <label>Company</label>
                                                <div>
                                                    <input type="text" class="form-control" placeholder="Company" formControlName="company" [ngClass]="{'error-border': formSubmitted && record.controls['company'].errors}">
                                                    <div *ngIf="record.controls['company'].errors && formSubmitted" class="error-wrappers">
                                                        <span class="error" *ngIf="record.controls['company'].errors.required">*Field is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <ng-container *ngIf="getForm.addressBookType.value == 'P'">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <!--col-lg-4 col-md-6-->
                                            <div class="form-group">
                                                <label>Email</label>
                                                <div>
                                                    <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'error-border': formSubmitted && record.controls['email'].errors}">
                                                    <div *ngIf="record.controls['email'].errors && formSubmitted" class="error-wrappers">
                                                        <span class="error" *ngIf="record.controls['email'].errors.required">*Field is required</span>
                                                        <span class="error" *ngIf="record.controls['email'].errors.pattern">*Invalid email id</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <!--col-lg-4 col-md-6-->
                                            <div class="form-group">
                                                <label>Address</label>
                                                <div>
                                                    <input type="text" class="form-control" placeholder="Location" formControlName="location" [ngClass]="{'error-border': formSubmitted && record.controls['location'].errors}">
                                                    <div *ngIf="record.controls['location'].errors && formSubmitted" class="error-wrappers">
                                                        <span class="error" *ngIf="record.controls['location'].errors.required">*Field is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <div class="d-flex col-12  mb-4" *ngIf="addressBookForm.get('records').controls.length < 10">
                    <button class="btn btn-blue-light bt-fix mr-3" (click)="addNewRecord()">Add</button>
                    <!-- <button class="btn btn-blue-light bt-fix mr-3 mb-2" (click)="senderIdForm.reset()">Reset</button> -->
                    <!-- <button class="btn btn-red-light bt-fix  mb-2">Cancel</button> -->
                </div>
            </ng-container>

            <ng-container *ngIf="getForm.uploadType.value == '2' ">
                <div class=" col-md-4 ">
                    <input type="file" #fileInput id="file-input" class="form-control-file" (change)="onFileSelect($event.target.files)" accept=".xlsx, .xls, .csv"
                        [ngClass]="{'error-border': formSubmitted && !fileUploaded}">
                    <div *ngIf="!fileUploaded && formSubmitted" class="error-wrappers">
                        <span class="error" *ngIf="!fileUploaded">*Field is required</span>
                    </div>
                </div>
                <div class="error-wrappers ml-3 mb-4 mt-1">
                    <span class="upload-caption">*Download sample file
                        <!-- <span class="download-file-text" (click)="sampleFileDownload('txt')">Text</span> -->
                        <span class="download-file-text" (click)="sampleFileDownload('excel')"> Excel</span>
                        <span class="download-file-text" (click)="sampleFileDownload('csv')"> CSV</span>
                    </span>
                </div>
            </ng-container>
            <!-- <div class="row mb-4"> -->
            <div class="col-6 mb-4  ml-3">
                <div class="row">
                    <!-- <div class="col-md-4 form-group">
                        <label>Group :</label>
                        mr-4
                    </div> -->
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp3" name="requestType" value="1" type="radio" formControlName="requestType" (change)="groupFlagChanged( $event.target.checked)"> Create New Group
                        </label>
                    </div>
                    <div class="col-md-4 form-check">
                        <!--mr-4-->
                        <label class="form-check-label">
                            <input class="form-check-input" id="camp4" name="requestType" value="2" type="radio" formControlName="requestType" (change)="groupFlagChanged( $event.target.checked)"> Add to Existing Group
                        </label>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-12 mt-2 mb-4 d-flex justify-content-between">
                <strong class="mr-4">Group</strong>
                <label class="radio-wrap mr-4">Create New Group
                    <input id="camp3" name="requestType" value="1" type="radio" formControlName="requestType" (change)="groupFlagChanged( $event.target.checked)">
                    <span class="radio-mark"></span>
                </label>
                <label class="radio-wrap">Add to Existing Group
                    <input id="camp4" name="requestType" value="2" type="radio" formControlName="requestType" (change)="groupFlagChanged( $event.target.checked)">
                    <span class="radio-mark"></span>
                </label>
            </div> -->
            <div class="col-md-3 mb-4" *ngIf="getForm.requestType.value ===  '1' ">
                <!--col-lg-4 col-md-6-->
                <div class="form-group">
                    <label>Group Name</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Group Name" formControlName="name" maxlength="25" [ngClass]="{'error-border': formSubmitted && getForm.name.errors}">
                        <div *ngIf="getForm.name.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="getForm.name.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4" *ngIf="getForm.requestType.value ===  '2' ">
                <div class="form-group">
                    <label>Group Name</label>
                    <div>
                        <!-- <input type="text" class="form-control" placeholder="Location" formControlName="name" [ngClass]="{'error-border': formSubmitted && getForm.name.errors}"> -->
                        <select class="form-control" formControlName="name" maxlength="25" [ngClass]="{'error-border': formSubmitted && getForm.name.errors}">
                            <option value="" disabled selected hidden>Select</option>
                            <option [value]="item.id" *ngFor="let item of groupList">{{item.name}}</option>
                        </select>
                        <div *ngIf="getForm.name.errors && formSubmitted" class="error-wrappers">
                            <span class="error" *ngIf="getForm.name.errors.required">*Field is required</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
            <div class="d-flex col-12 mb-4">
                <button class="btn btn-blue-light bt-fix mr-3" (click)="submitForm()">Submit</button>
                <!-- <button class="btn btn-blue-light bt-fix mr-3" (click)="addressBookForm.reset(); initialiseForms()">Reset</button> -->
                <!-- <button class="btn btn-red-light bt-fix  mb-2">Cancel</button> -->
            </div>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>