<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-2">
            <div class="col-12">
                <div class="sub-title">Sender-ID Information</div>
            </div>
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" (search)="search()" class="form-control" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchTextChanged($event)">
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <button type="button" class="btn btn-primary bt-radius" (click)="(searchText.trim() == '') ? false : applySearch()"><i
      class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                  <option value= 10>10</option>
                  <option value= 20>20</option>
              </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ngx-datatable #table class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [limit]="pageLimit" [rowHeight]="'auto'" [reorderable]="reorderable">
                    <ngx-datatable-column name="CLI" prop="senderid"></ngx-datatable-column>
                    <ngx-datatable-column name="Approver" prop="approvedBy"></ngx-datatable-column>
                    <ngx-datatable-column name="Department User" prop="user"></ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="status"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <!-- Pencil icon -->
                            <i class="fa fa-trash action-item" title="Delete" (click)="confirmDeleteRecord(row)"></i>
                            <i class="fa fa-pencil action-item" title="Update" (click)="editRecord(row)"></i>
                            <i class="fa fa-times action-item" title="" (click)="deleteRecord(row)"></i>
                        </ng-template>
                        <!-- <button md-raised-button color="warn">Delete</button>
                      <button md-raised-button color="warn"><i class="fa fa-pencil"></i></button>
                      <button md-raised-button color="warn"><i class="fa fa-times"></i></button> -->
                    </ngx-datatable-column>
                </ngx-datatable>
                <!-- <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover table-sm">
                      <thead class="thead-sb">
                          <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Email</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                              <td class="text-center">
                                  <div class="btn-group btn-group-sm">
                                      <button type="button" class="btn"><i class="fa fa-trash"></i></button>
                                      <button type="button" class="btn"><i class="fa fa-pencil"></i></button>
                                      <button type="button" class="btn"><i class="fa fa-times"></i></button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div> -->
            </div>
        </div>

    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>