<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row">
            <div class="col-12">
                <div *ngIf="currentStep ==1">
                    <form [formGroup]="mainForm" novalidate>
                        <div id="test-l-1" formGroupName="campaignInfo">
                            <div class="row">
                                <!-- <div class="col-12">
                                <div class="sub-title"></div>
                            </div> -->
                                <div class="mt-3 col-md-8">
                                    <!-- container-fluid  style="max-width: 650px" -->
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <label>
                                                Campaign Name
                                            </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="campaignName" placeholder="Enter Campaign Name" maxlength="30" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.campaignName.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.required">Required field
                                                    </span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.minlength">Minimum length is 3 characters</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.maxlength">Maximum length is 30 characters</span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.campaignName.errors.pattern">Only alphanumeric allowed</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <label>
                                                Template Type
                                            </label>
                                                <div>
                                                    <select class="form-control" formControlName="templateType" (change)="toClearContent($event)" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.templateType.errors}">
                                                    <option value="" disabled selected hidden>Select
                                                    </option>
                                                    <option value=1>Manually</option>
                                                    <option value=2>User Defined</option>
                                                    <option value=3>Pre-Defined</option>
                                                </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.templateType.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateType.errors.required">Required field
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                SMS Content Type
                                            </label>
                                                <div>
                                                    <select class="form-control" formControlName="smsContentType" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.smsContentType.errors}">
                                                    <option value="" disabled selected hidden>Select
                                                    </option>
                                                    <option value=1>Text</option>
                                                    <option *ngIf="campaignInfoForm.templateType.value == 1 || (selectedPredefinedTemlate && selectedPredefinedTemlate.type == 1)"
                                                        value=2>Unicode</option>
                                                </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.smsContentType.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.smsContentType.errors.required">Required field
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="form-group">
                                                <label>
                                                Sender CLI
                                            </label>
                                                <div>
                                                    <select class="form-control" formControlName="senderCli" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.senderCli.errors}">
                                                    <option value="" disabled selected hidden>Select</option>
                                                    <option [value]="item.id" *ngFor="let item of senderIdList">{{item.senderid}}</option>
                                                </select>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.senderCli.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.senderCli.errors.required">Required field
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2 form-group">
                                                    <label>Send Via :</label>
                                                </div>
                                                <div class="col-md-2 form-check">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" id="camp3" name="sendVia" value="3" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">File Upload
                                                </label>
                                                </div>
                                                <ng-container *ngIf="campaignInfoForm.templateType.value == 1 || (selectedPredefinedTemlate && selectedPredefinedTemlate.type == 1)">
                                                    <div class="col-md-2 form-check">
                                                        <label class="form-check-label">
                                                        <input class="form-check-input" id="camp4" name="sendVia" value="1" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">One-to-One
                                                    </label>
                                                    </div>
                                                    <div class="col-md-3 form-check">
                                                        <label class="form-check-label">
                                                        <input class="form-check-input" id="camp5" name="sendVia" value="2" type="radio" formControlName="sendVia" (change)="sendViaChanged( $event.target.checked)">Address Book
                                                    </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <!-- <ng-container > -->
                                        <div class="col-md-6 mb-1" *ngIf="campaignInfoForm.sendVia.value == 3 ">
                                            <input style="font-size: 15px;" #fileInput type="file" id="fileInput" class="form-control-file" [ngClass]="{'error-border': !containsAllElements || (stepOne.formSubmitted && campaignInfoForm.file.errors)}" (change)="onFileSelect($event.target.files)"
                                                accept=".xlsx,.xls,.csv">
                                            <div *ngIf="stepOne.formSubmitted && campaignInfoForm.file.errors" class="error-wrappers">
                                                <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.file.errors.required">Required field
                                            </span>
                                            </div>
                                            <div *ngIf="!containsAllElements" class="error-wrappers">
                                                <span class="error">Invalid File
                                            </span>
                                            </div>
                                            <div class="error-wrappers mb-3">
                                                <small class="upload-caption">* only .csv/.xlsx/.xls allowed
                                            </small>
                                            </div>
                                        </div>

                                        <div class="col-md-6  mt-2 mb-2" *ngIf="isbtnNeed && campaignInfoForm.sendVia.value == 3  && campaignInfoForm.templateType.value == 2">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" [disabled]="!isAddPlaceholderBtn" (click)="addPlaceholder()">Add Placeholder</button>
                                        </div>
                                        <div class="col-md-6  mt-2 mb-2" *ngIf="campaignInfoForm.templateType.value == 3">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" (click)="showPredefinedTemplates(updatemodal)">Pre-Defined Templates</button>
                                        </div>

                                        <!-- <ng-container > -->
                                        <!-- <div class="col-12 mt-4">
                                                        <div class="sub-title ">Dynamic Header</div>
                                                    </div> -->
                                        <div class=" col-md-6" *ngIf="dynamicHeaders.length > 0 && campaignInfoForm.sendVia.value == 3 && isPlaceholder   && campaignInfoForm.templateType.value == 2">
                                            <div class="form-group">
                                                <label>
                                                Dynamic variables to replace content
                                            </label>
                                                <div>
                                                    <select class="form-control" formControlName="dynamicOption" (change)="valueOfHeader($event.target.value)">
                                                    <option value="" disabled selected hidden>Select</option>
                                                    <option *ngFor="let item of dynamicHeader" [value]="item">{{item}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mt-4" *ngIf="campaignInfoForm.sendVia.value == 3 && isPlaceholder   && campaignInfoForm.templateType.value == 2">
                                            <button class="btn btn-blue-light bt-fix place-holder-button" (click)="appendPlaceholder()">Add</button>
                                            <!-- [disabled]="!isAddEnable" -->
                                        </div>
                                        <!-- </ng-container> -->
                                        <!-- </ng-container> -->
                                        <!-- <ng-container > -->
                                        <div class="col-md-6" *ngIf="campaignInfoForm.sendVia.value == 1 ">
                                            <div class="form-group">
                                                <label>
                                                Phone Number
                                            </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="phone" placeholder="Phone number" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.phone.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.required">Required field
                                                    </span>
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.pattern">Only 10 digits mobile numbers allowed</span>
                                                    </div>
                                                    <div class="error-wrappers mb-3">
                                                        <small class="upload-caption">* Maximum 10 mobile numbers comma (,) separated
                                                    </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" *ngIf="campaignInfoForm.sendVia.value == 2 ">
                                            <div class="form-group">
                                                <label>
                                                Address Book
                                            </label>
                                                <div>
                                                    <select class="form-control" formControlName="addressBook" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.addressBook.errors}">
                                                    <option value="" disabled selected hidden>Select</option>
                                                    <option [value]="item.id" *ngFor="let item of addressBookList">{{item.name}}</option>
                                                </select>
                                                    <!-- <input type="text" class="form-control" formControlName="phone" placeholder="Phone number" maxlength="10" (keypress)="commonService.checkNumber($event)"
                                                                [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.phone.errors}"> -->
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.addressBook.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.addressBook.errors.required">Required field
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </ng-container> -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>
                                                SMS Content
                                            </label>
                                                <div>
                                                    <textarea [readonly]="campaignInfoForm.templateType.value == 3 && !isEditable" name="" id="" rows="2" class="form-control" formControlName="content" #contentText [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.content.errors}" maxlength="1024"></textarea>
                                                    <small>* Maximum size of SMS is 1024</small>
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.content.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.content.errors.required">Required field
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between mt-4">
                                                    <div class="sms-info">
                                                        <span>Entered SMS length</span> {{contentText.value.length}}
                                                    </div>
                                                    <div class="sms-info">
                                                        <span>Single SMS length</span> 160
                                                    </div>
                                                    <div class="sms-info">
                                                        <span>Number of SMS per receipt </span> {{math.floor(contentText.value.length/160)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6 mt-1 mb-3" *ngIf="campaignInfoForm.sendVia.value == 3 ">
                                                <div class="switch-wrapper mt-0">
                                                    <span class="sw-label">
                                                        Duplicate Check
                                                    </span>
                                                    <label class="switch">
                                                        <input type="checkbox" formControlName="duplicateCheck">
                                                        <span class="slider"></span>
                                                    </label>
                                                </div>
                                            </div> -->
                                        <div class="col-md-6 mt-1" *ngIf="campaignInfoForm.sendVia.value == 3 ">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label>Duplicate Check :</label>
                                                </div>
                                                <div class="col-md-3 form-check">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" id="camp3" name="duplicateCheck" value="Yes" type="radio" formControlName="duplicateCheck">Yes
                                                </label>
                                                </div>
                                                <div class="col-md-3 form-check">
                                                    <label class="form-check-label">
                                                    <input class="form-check-input" id="camp4" name="duplicateCheck" value="No" type="radio" formControlName="duplicateCheck">No
                                                </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 " *ngIf="campaignInfoForm.templateType.value != 3">
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" formControlName="saveFlag" type="checkbox" value="" id="defaultCheck1" (click)="saveFlagChanged($event.target.checked)">
                                                <label class="form-check-label" for="defaultCheck1">
                                                Save this sms content as a template
                                            </label>
                                            </div>
                                            <div class="form-group" *ngIf="campaignInfoForm.saveFlag.value">
                                                <label>
                                                Template Name
                                            </label>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="templateName" placeholder="Template Name" [ngClass]="{'error-border': stepOne.formSubmitted && campaignInfoForm.templateName.errors}">
                                                    <div *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors" class="error-wrappers">
                                                        <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.templateName.errors.required">Required field</span>
                                                        <!-- <span class="error" *ngIf="stepOne.formSubmitted && campaignInfoForm.phone.errors.pattern">Only alphanumeric allowed</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex mt-4">
                        <button (click)="next()" class="btn btn-blue-light bt-fix mb-2">Next</button>
                    </div>
                </div>
                <!-- Second Page -->
                <div *ngIf="currentStep == 2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-title">Campaign Summary</div>
                                </div>
                                <div class="col-12" *ngIf="createdData">
                                    <div class="table-responsive">
                                        <table class="table  table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>Campaign Name</td>
                                                    <td class="text-center">{{createdData['name'] || ''}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Total Number(s)</td>
                                                    <td class="text-center">{{createdData['totalCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Valid Number(s)</td>
                                                    <td class="text-center">{{createdData['successCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Invalid Number(s)</td>
                                                    <td class="text-center">{{createdData['inavlidCount'] || 0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Duplicate Number(s)</td>
                                                    <td class="text-center">{{createdData['duplicateCount'] || 0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="col-12 d-flex justify-content-center mt-4">
                                        <button class="btn btn-outline-success mr-3">Message Preview</button>
                                        <button class="btn btn-blue-light bt-fix ">Send Now</button>
                                    </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form [formGroup]="mainForm" novalidate>
                                <div id="test-l-1" formGroupName="scheduleInfo">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="sub-title">Schedule Info</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input class="form-check-input" formControlName="sendNow" type="checkbox" value="" id="defaultCheck1" (click)="sendNowChanged($event.target.checked)">
                                                    <label class="form-check-label" for="defaultCheck1">
                                                        Send Now
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="!scheduleInfoForm.sendNow.value">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Schedule Date</label>
                                                    <div>
                                                        <input type="date" class="form-control" placeholder="enter date" formControlName="date">
                                                        <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.date.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.date.errors.required">Required field
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Time</label>
                                                    <div>
                                                        <input type="time" class="form-control" placeholder="enter date" formControlName="time">
                                                        <div *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors" class="error-wrappers">
                                                            <span class="error" *ngIf="stepTwo.formSubmitted && scheduleInfoForm.time.errors.required">Required field
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="col-12 d-flex mt-2">
                                            <!-- <button (click)="previous()" class="btn btn-blue-light bt-fix  mr-3 mb-2">Previous
                                                </button> -->
                                            <!-- <button (click)="sendNow()" class="btn btn-blue-light bt-fix  mr-3 mb-2">Send Now</button> -->
                                            <button class="btn btn-blue-light bt-fix mb-2" (click)="next()">Submit</button>
                                            <!-- <button class="btn btn-blue-light bt-fix mb-2">Cancel</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #updatemodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">
            <!-- <span *ngIf="!isEdit">Add New Role</span> -->
            <span>Pre-Defined Templates</span>
        </h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- btn-link  -->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let template of predefinedTemplats">
            <label class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        <input name="template" type="radio" [value]="template" [(ngModel)]="selectedPredefinedTemlate">
                    </div>
                    <div class="col-md-11 wrap">
                        <span class="predefined-template-name">{{template.name}} : </span>{{template.content}}</div>
                </div>
            </label>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-success mr-3" (click)="getSelectedTemplate()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<!-- <div id="campaign-stepper" class="bs-stepper"> -->
<!-- <div class="bs-stepper-header col-md-7">
                        <div class="step" data-target="#campaign-step-1">
                            <a>
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Campaign Info</span>
                            </a>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#campaign-step-2">
                            <a>
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Schedule Info</span>
                            </a>
                        </div>
                    </div> -->
<!-- <div class="bs-stepper-content">
                        <div class="content">

                        </div>

                    </div> -->
<!-- <div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div> -->
<!-- <div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Pre-Defined Templates</h5>
                                    <button type="button" (click)="closePopup()" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="mainForm" novalidate>
                                        <div formGroupName="predefinedTemp" *ngFor="let template of templateDemo" >
                                            <label class="col-md-12" for="predefTemp{{template.templateID}}">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <input type="radio" id="predefTemp{{template.templateID}}" [value] ="template.tempText" formControlName="template">
                                                    </div>
                                                    <div class="col-md-11">{{template.tempText}}</div>
                                                </div>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" (click)="getSelectedTemplate()" data-dismiss="modal">Select</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
<!-- </div> -->