<div class="content-wrapper">
    <div class="container-fluid form-t1">
        <div class="row justify-content-between mb-15">
            <div class="col-4">
                <div class="form-group mb-0">
                    <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col-3 form-inline d-flex justify-content-end">
                <div class="form-group ">
                    <label class="mr-3">Records Per Page</label>
                    <div>
                        <select class="form-control" [(ngModel)]="pageLimit">
                            <option [value]="item" *ngFor="let item of commonService.recordsPerPage">{{item}}</option>                             
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-sb">
                            <tr>
                                <th class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.MO_KEYWORD)">Actions</th>
                                <th (click)="usernameSorted = !usernameSorted; sortTable('username', usernameSorted)" class="sort-th">Username <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="keywordSorted = !keywordSorted; sortTable('keyword', keywordSorted)" class="sort-th">Keyword <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th>Primary Route</th>
                                <th>Secondary Route</th>
                                <th (click)="caseSensitivityFlagSorted = !caseSensitivityFlagSorted; sortTable('caseSensitivityFlag', caseSensitivityFlagSorted)" class="sort-th">Case Sensitivity Flag <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                                <th (click)="statusSorted = !statusSorted; sortTable('status', statusSorted, true)" class="sort-th">Status <i class="fa fa-sort sort-icon" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of moKeywordList | 
                            searchFilter: {code: searchText, keyword:searchText,  primaryRoute: searchText, secondaryRoute: searchText } | 
                            paginate: { itemsPerPage: pageLimit, currentPage: p }">
                                <td class="text-center" *ngIf="commonService.hasWriteAccess(MODULES.MO_KEYWORD)">
                                    <div class="btn-group btn-group-sm">
                                        <i class="fa fa-trash action-item" title="Delete" (click)="confirmDeleteRecord(item)"></i>
                                    </div>
                                </td>
                                <td>{{item['username']}}</td>
                                <td>{{item['keyword']}}</td>
                                <td>{{item['primaryRoute']}}</td>
                                <td>{{item['secondaryRoute']}}</td>
                                <td>{{item['caseSensitivityFlag'].toLowerCase() == 'y' ? 'True' : 'False'}}</td>
                                <td>{{item['status'] == 1 ? 'Active' : 'Inactive'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="moKeywordList.length==0 " class="no-data ">No Records Found!</div>
                    <pagination-controls class="my-pagination" *ngIf="moKeywordList.length!=0 " (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>