<div class="container-fluid mb-2 top-bar">
    <div class="row">
        <div class="col-md-4 order-0 order-md-1 text-left text-md-right ">
            <div class="page-header">
                <div class="page-title">
                    <h1>User Type : {{commonService.getUserRole()}}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-1 order-md-0 ">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="javascript:void(0);">Home</a>
                <span class="breadcrumb-item active">Manage Address Book</span>
            </nav>
        </div>
    </div>
</div>


<section class="right-panel-wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="commonService.hasReadAccess(MODULES.ADDRESS_BOOK)">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" routerLink="/main/manage-address-book/view-address-book" routerLinkActive="active">View
            Address Book</a>
        </li>
        <li class="nav-item" *ngIf="commonService.hasWriteAccess(MODULES.ADDRESS_BOOK)">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" routerLink="/main/manage-address-book/create-address-book" routerLinkActive="active">Create Address Book</a>
        </li>


    </ul>

    <!-- Tab panes -->

    <router-outlet></router-outlet>

</section>